// include script for page like functionality

script(src="/script/pagelike.js")

// Page Like Mixins

mixin PAGE_LIKE_INIT(target)
  -if (target==="page") {
  script.
    // Invoke the get page like count when the page has loaded so the like button shows the current like count
    getPageLikeCount();
  -}
  -else {
  script.
    // Invoke the get page group like counts when the page has loaded so the like counts can be shown for each page link
    getPageLikeCounters("#{target}");
  -}
