//
// Page header definition (excluding home page)
// ==================================================
//
  Header
  ==================================================
.container
  .headerblock.hidden-sm.hidden-xs
    .logoverse
      p
        | Proving that you can teach an old dog new tricks.
