//
// Page header definition (excluding home page)
// ==================================================
//
  Header
  ==================================================
header
  .container
    .headerblock.hidden-sm.hidden-xs
      .logoverse
        p
          | Proving that you can teach an old dog new tricks.

mixin SEPARATOR_GO_TOP 
  hr.featurette-divider
  .text-right.footer
    a(href='#')
      small Top of page
