//
// Page footer definition
// ==================================================
footer.footer
  .container.text-center
    hr.featurette-divider
    p
      | Copyright © 2019 DilemmaLearning.com. All rights reserved. 
      a(href='#')
        small Top of page
//
  jQuery (necessary for Bootstrap's JavaScript plugins)
  originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
script(src='/script/jquery-1.12.4.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='/script/bootstrap.min.js')
