doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='learning is work, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="A big mistake that people make about learning is thinking that it is separate to work.")
    title A Big Mistake About Learning
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 A Big Mistake About Learning
              hr.featurette-divider

              h2 My Work Is To Do My Work And To Improve My Work

              p
                | Those familiar with Lean Thinking will probably already be aware of "Kaizen" - the 
                | continuous improvement philosophy -  a strategy where employees at all levels of a company
                | work together pro-actively to achieve regular, incremental improvements as part of their
                | daily work. 

              p
                | "Kaizen" is a Japanese word that means "Improve for improvements' sake, endlessly".
                | Organisations that
                | embrace Kaizen assert and practice that "my work is to do my work and to improve my work".

              h2 Customers Expect And Demand Continuous Improvement
                
              p
                | In Lean organisations, Kaizen is treated as both a mindset and a practice that drives
                | continuous improvement as part of daily work, not infrequently as part of a planned
                | continuous improvement initiative
                | (which would actually be a contradiction of the term "continuous improvement").

              P
                | These days, I don't believe anyone would disagree that "continuous improvement" is a normal
                | and expected part of daily work. Our customers both expect and demand continuous improvement.

              P
                | However, I don't believe that the same can be said about "continuous learning".

              h2 Thinking That Learning Is Not "Work" - A Big Mistake

              p  
                | Many do not see or treat learning as part of their normal daily work. It's instead treated
                | as an infrequent, planned activity which is separate to work.
                | This is the legacy of the "training mindset" that doesn't understand the difference between
                | learning and training. 
                
              p  
                | It's a big mistake to think that learning is not work! 

              p  
                | It's also a big mistake to treat learning like training. 

              h2 Continuous Improvement Requires Learning And Experimentation

              p
                | It's a given that continuous improvement requires both learning and experimentation.
                | Mistakes and failed experiments may occur along the way but these are accepted as they
                | ultimately culminate in innovations and improvements. 
                
              p
                | This implies that learning
                | and innovation are a part of normal daily work for those who practice continuous
                | improvement. 

              P
                | It's no wonder that another Lean mantra is "out-learn the competition".
              
              p
                | This also explains why organisations that don't practice continuous improvement as part of
                | their daily work are always talking about it alongside the need to be more innovative and running
                | planned initiatives to try and achieve both.

              h2 Failing To Treat Learning As Part Of Normal Work Has Consequences

              p
                | Organisations that do not allow for and treat learning as a normal part of daily work will
                | fail to achieve a learning culture. Continuous learning will not occur and such organisations
                | will find themselves falling behind due to a lack of strategic knowledge and skills.

              p  
                | They will be dogged by endlessly trying to justify the time and cost of learning and the impact
                | it will have on reduced utilisation levels and therefore the bottom line.

              p  
                | There is no way to win the economics argument when learning is treated like training i.e
                | as an infrequent, planned and costed activity requiring a separate budget.

              h2 Putting Learning In Its Rightful Place

              p
                | Continuous learning is not something new to us - we each do it every day, as part of our normal lives
                | and our daily work.

              p
                | Treating learning as part of our daily work means we don't need to adjust our utilisation levels
                | to accommodate it - it's already baked in. We mostly don't need to plan for it, or allocate it a separate
                | budget, although we may still choose to do so for situations like formal training, hack days,
                | conferences etc.

              p
                | We do however need to budget a greater level of "trust" and "freedom" (two of Capgemini's core
                | values). Trust and freedom to allow for the 
                | social interactions, shadowing, coaching, mentoring, technical communities, lessons learned,
                | knowledge sharing, appraisals, performance reviews, one-to-one meetings etc. that drive learning
                | and build people so that they can achieve their full potential.

              p
                | At Capgemini we say "People Matter, Results Count". In that order.

              p.text-right
                b Tim Simpson
                br 
                | 28th June, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
