doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='time to reflect, retrospective analysis, time of reflection, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Every once in a while it's good to stop and take time to reflect on how things are going.")
    title A Time To Reflect
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 A Time of Reflection
              hr.featurette-divider

              h2 H2 Is Here Already!
              p
                | At the start of this week I attended a DDG Information Cascade to discuss how we'd done as a department
                | in the first half of this year. It proved highly informative and motivational as always but what really
                | struck me was that H2 is here already! They say "Time flies when you're having fun" so I must be
                | having a lot of fun - which actually I am. 😊
                
              p  
                | My work as an architect is as varied and challenging as ever
                | and my role as Capabilities Lead is equally challenging and interesting. I'm reminded each day that
                | I work with some great people (very clever, very talented). What's not to like?
              
              p
                | But where did the last six months go?

              h2 Time To Stop For A Moment And Reflect

              p
                | I'm into Agile, so like any agile practitioner, I'm used to retrospective analysis and now would seem
                | a good time to stop for a moment to reflect and identify opportunities to improve and / or course-correct.

              p
                | My way of working makes it easy for me to know what I've been doing, it has traceability baked in.
                | Whether it's via my ToDo List "Done" items, my notebook pages of weekly work items or the list of
                | achievements in my personal development plan, it's all there and I'm usually surprised by how much I've
                | done and achieved.

              h2 Reflection Time

              p
                | So, have I achieved what I wanted to achieve so far this year? Do I need to make any changes? How is
                | the personal development plan going in terms of achievements? What about project work?
              
              h3 Project Work

              P
                | Project architecture work has gone well with successful project deliveries. There were lots of challenges
                | and opportunities for improvement along the way but as always, I had good support from my colleagues.
                | The success came as a team effort, in fact via several teams and hundreds of people!
              
              p
                | As an architect I never stop learning about how to engage with customers and stakeholders during projects. 
                | Tech stuff comes relatively easy to me but people stuff ... that's a whole different ball game.
                | That's an area I always have room and a need to improve on. (Need to look at some soft skills training
                | in our training catalogue.)

              h3 Capabilities Work

              p
                | The Capabilities Lead role feels like I am forever re-learning and re-inventing how to approach
                | the role. I'm given tremendous freedom in this role and so feedback is really important to keep
                | on track. I'm learning a lot from research and through working with others.
                
              p  
                | So far so good.

              h3 Personal Development Plan

              P
                | In hindsight, I've gone a little off piste with my personal development plan.
              
              p
                | One of the technical skills I set myself to master through
                | "doing" has taken a little bit of a back seat. I've learnt some adjacent skills related to it, which is kind
                | of okay but the main skill is still lacking hands-on time. (It's not something that affects my work as it relates to
                | a personal interest but it's something I want to bring into my work at some point in the future.)

              p
                | I've learnt loads so far this year and there's no signs of that changing when I look at the training
                | I'm still due to take and the certifications I intend to gain by the end of the year.

              h3 Productivity / Efficiency / Quality

              P
                | I need to automate some manual tasks that would improve my productivity / efficiency in terms of blog and 
                | website updates. This also includes some quality assurance activities like spell check, broken link check
                | etc. I'm still a DOS batch file guy and need to progress more on my Visual Code editor automation
                | and PowerShell scripting. (No excuse for not getting someone to quickly show me how to do this!)

              h3 Feedback Pending

              p
                | At time of writing, I still have some reflection to do based on feedback from my line manager
                | which I'm yet to receive and discuss. I expect that to influence how I approach my work going forwards.

              h2 Reflection Actions

              p 
                | Reflection time is most valuable when both lessons are learned and course-corrections are identified
                | which then result in positive action being taken.

              p
                | So far I've adjusted my personal development plan. This now takes into account the things that I'm currently
                | learning and receiving training for that I didn't anticipate doing at the start of the year and which
                | have impacted my technical learning objectives. (I didn't anticipate doing this blog either!😊)

              p
                | I've also added the additional skills and achievements and decided to take a more "brute force" 
                | approach to my failing technical learning objective. To do this I've planned a specific, shorter term
                | goal (Q3) to focus on 
                | that will be baked into my blog website. It will serve as an intermediate stepping stone to my end goal
                | and feels like a realistic plan. Time will tell.

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 4th July, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

                p
                  a.btn.btn-lg.btn-primary(href='opening-new-doors-to-new-possibilities.html', role='button') Next Blog Post »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
