doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='xxx, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="My visit to speak at the Birmingham Digital & DevOps Meetup on the 18th June, 2019.")
    title Birmingham Digital &amp; DevOps Meetup 18th June, 2019
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Birmingham Digital &amp; DevOps Meetup - 18th June, 2019
              hr.featurette-divider

              h2 Presentation First Outing

              p
                img#mugshot.img-thumbnail.img-responsive(src='../images/birmingham-meetup-18062019.jpg', alt='Presentation First Outing', title='Presentation First Outing')
                | This Tuesday was the first formal outing of my “Continuous Learning Dilemma” presentation
                | and also my first Meetup event.

              p
                | The venue was The Old Joint Stock in the centre of Birmingham and I was lucky enough to get
                | a lift from colleagues both there and back. Sweet. Only had to carry my Lenovo
                | home-weight-lifting-kit a short distance and I managed to remember my rucksack too instead
                | of the usual chunky and heavy laptop bag.

              p
                | I was a bit nervous because my presentation could be perceived as telling people about a
                | problem they might not know they have yet. However, it was a good, all-round experience.
                | One I’d be happy to repeat.

              p
                | Around 60+ people of 115 registered for the event turned out in their own time after work
                | to attend. That’s enthusiasm to learn. Some were even prepared to stand as the room was full.
                | Free food and beer was at hand but I’m sure that wasn’t a factor. 😊

              p
                | Andy Burgin (@andyburgin), from Sky Betting &amp; Gaming, talked about DevOps Transformation
                | and was quite an act to follow. 30 minutes later it was all over. A few people were kind enough
                | to give me a thumbs-up when I asked how it went. I’m taking that as a green light to proceed
                | with further outings.

              h3 Unexpected Bonus

              p
                | Bumping into a former agile team member who recognised my name on the presenter list and
                | decided to come along was a bonus and it was good to catch up and hear about his successful
                | learning journey from Developer to Architect. I love to see potential in people realised.
                | Go Harshad!

              h3 Presentation Slide Deck

              p
                | For anyone who wishes to download "The Continuous Learning Dilemma" presentation slide deck
                | that I used, it can be found here: 
                a(href="../downloads/meetup18062019.pptx", title="Birmingham Meetup Slide Deck - June 2019") Birmingham Meetup Slide Deck - June 2019

              h2 The Value Of Social Learning

              p
                | As part of some research during my last blog post I came across the 
                a(href="https://www.growthengineering.co.uk/70-20-10-model/", title="the 70:20:10 model", target="_blank") the 70:20:10 model
                |  related to informal learning. This was news to me and really interesting. 

              p
                | The model basically says 70% of our learning comes from experience (hands-on), 20% from social
                | interactions and the remaining 10% from formal training. 
              p
                | Long story short, 90% of our learning
                | is done informally, outside of the classroom.       
                | This implies that Meetup events can potentially meet more of our learning needs than the classroom. Whoa!

              h2 What happened at the Meetup?

              p
                | I learnt some stuff, others did too. That’s what happened. Everyone was a winner.

              p
                | Andy Burgin (@andyburgin) described two patterns in detail that Sky use to innovate new products as well as proclaiming 
                | the virtues of the Spotify organisational approach of Squads and Tribes which they also employ.
              
              p
                | Paul Jacques (@psjacques) described organisational culture and the modern challenges of attracting 
                | and retaining talent. There was much food for thought here for those responsible for feeding the 
                | corporate talent machine. He made a good point by ending on the phrase "Think again."

              p
                | I got some more public speaking experience and some valuable feedback on my presentation style
                | from a fellow speaker which was much appreciated and will be taken to heart.
              
              p
                | I also gained some confidence that I have pitched my subject and material at the right level – further
                | outings will tell. A Twitter comment from @rgee0 said the delivery “felt like counselling” but in a
                | positive way. (The first counselling session is always free. 😊)

              p
                | In the further conversations that followed the presentations I heard about the “Dunning-Kruger Effect”,
                | a big ticket item for me
                | and now on my research stack, along with a few product names mentioned in the presentations to look up
                | that I’d not heard of before. 
              
              p
                | I’ve started a habit of looking stuff up so I potentially don’t get caught out in
                | conversations with customers if I can help it. I write the names in my learning diary and then a
                | description when I eventually find out what they are. Doing this helps me move the detail into
                | longer term memory for better recall - well that's the theory anyway.

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 18th June, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini


              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("how-does-a-successful-manager-act.html","a-big-mistake-about-learning.html")

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
