doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous learning blog, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Blog history page. An index of articles published on this website.")
    title Blog History
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Blog History
              hr.featurette-divider

              p
                | Through this blog I hope to give you a flavour of my working life at Capgemini, both as an architect
                | and as Capabilities Lead for our Digital Delivery Group on the HMRC account. I hope you find
                | it informative and helpful.

              p
                | Blog articles are listed in reverse chronological order of publishing (i.e. most recent first).

              p.text-right
                b Tim Simpson
                br 
                span.badge.hashtag #LifeAtCapgemini

              table.table
                thead
                  th Date
                  th Title / Description
                tbody
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;11&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUL&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="opening-new-doors-to-new-possibilities.html", title="Opening New Doors To New Possibilities") Opening New Doors To New Possibilities
                      p
                        | Training about theory and the different technology choices available are just a
                        | sample taste of the possibilities of how technologies might be combined and used
                        | for constructing solutions.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;04&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUL&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="a-time-to-reflect.html", title="A Time To Reflect") A Time To Reflect
                      p
                        | H2 is here already! Where did the last six months go? I stopped to reflect
                        | and made some changes to my personal development plan. 
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;28&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUN&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="a-big-mistake-about-learning.html", title="A Big Mistake About Learning") A Big Mistake About Learning
                      p
                        | A big mistake that people make about learning is to think that learning is not work. 
                        | Why learning should be treated as a part of normal, daily work.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;21&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUN&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="birmingham-meetup-18062019.html", title="Birmingham Digital & DevOps Meetup 18th June 2019") Birmingham Digital &amp; DevOps Meetup - 18th June 2019
                      p
                        | The Birmingham Digital &amp; DevOps Meetup was the first public outing of my
                        | "Continuous Learning Dilemma" presentation and also proved a great opportunity for
                        | social learning.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;14&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUN&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="how-does-a-successful-manager-act.html", title="How Does A Successful Manager Act To Develop Their Staff?") How Does A Successful Manager Act To Develop Their Staff?
                      p
                        | In my research I stumbled upon an interesting booklet by The Campaign For Learning
                        | called "Leading on Learning". In part 2 of my analysis, here's what they had to say about
                        | how a successful manager acts to develop their staff.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;07&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;JUN&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="beyond-training.html", title="Beyond Training") Beyond Training
                      p
                        | Training and learning are not the same thing.  
                        | Existing training budgets will prove too limiting in the world of continuous learning
                        | and so organisations need to seriously consider how they will invest in growing 
                        | their own talent or face falling further behind.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;31&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;MAY&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="crazy-busy.html", title="Crazy Busy") Crazy Busy
                      p
                        | "Crazy Busy" is the enemy of continuous learning.  
                        | Find out how to step out of the whirlwind of "crazy busy" and regain control of your time and work.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;17&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;MAY&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="pluralsight-live-europe-2019.html", title="Pluralsight Live Europe 2019") Pluralsight Live Europe 2019
                      p
                        | It was great to attend Pluralsight Live Europe 2019 in London this week.  
                        | Find out what I hoped to learn and what I actually learned.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;03&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;MAY&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="overcoming-obstacles-to-build-a-learning-culture.html", title="Overcoming Obstacles To Build A Learning Culture") Overcoming Obstacles To Build A Learning Culture
                      p
                        | In my research I stumbled upon an interesting booklet by The Campaign For Learning
                        | called "Leading on Learning". In part 1 of my analysis, here's what they had to say about overcoming obstacles
                        | to build a learning culture.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;26&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;APR&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="continuous-learning-initiatives-technical-communities.html", title="Continuous Learning Initiatives - Technical Communities") Continuous Learning Initiatives - Technical Communities
                      p
                        | How we use Technical Communities as one way to achieve knowledge sharing so that
                        | people can grow their desired skills to the right depth at the right time whilst
                        | staying abreast of emerging industry technologies and trends in a safe learning
                        | environment.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;18&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;APR&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="continuous-learning-initiatives-learning-vehicles.html", title="Continuous Learning Initiatives - Learning Vehicles") Continuous Learning Initiatives - Learning Vehicles
                      p
                        | The Learning Vehicles initiative really lays the foundations for the other
                        | initiatives to build on downstream. Explains how our office is equipped for
                        | learning and the ways of learning we make available.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;12&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;APR&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                      p
                        | Formulating the approach to rise up and attack the continuous learning dilemma.
                        | Introduction to the continuous learning spectrum and the early initiatives I planned.
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;05&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;APR&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                      p
                        | Explanation of what I mean by the term "the continuous learning dilemma" that
                        | I believe IT people and organisations are facing today. It's no small challenge!
                  tr
                    td
                      .text-center
                        span(style="color: black; background-color: silver;") &nbsp;29&nbsp;
                        |
                        span(style="color: white; background-color: steelblue;") &nbsp;MAR&nbsp;
                        |
                        span(style="color: black; background-color: silver;") &nbsp;2019&nbsp;
                    td
                      h2
                        a(href="prologue.html", title="Prologue") Prologue
                      p
                        | About me, who I work for and how this blog came about.
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.

                h4 
                  a(href="../about.html#tech" title="Technical Stuff") Technical Stuff 
                p
                  | The development tools and technologies used to build this website.  
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
