doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='xxx, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="xxx")
    title xxx
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-9
          h1 xxx

          p
            | xxx

          p.text-right
            b Tim Simpson
            br 
            | dd mmm, yyyy
            br 
            span.badge.hashtag #LifeAtCapgemini

        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .rightsidebar
            // <rightsidebar>
            h3 See Also

            h4 
              a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
            p
              | Hints and tips to help with personal and corporate learning.  

            h4 
              a(href="prologue.html", title="Prologue") Prologue
            p
              | About me, who I work for and how this blog came about.  

            h4 
              a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
            p
              | The biggest problem facing the IT industry today, namely continuous learning.  

            h4 
              a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
            p
              | Formulating the approach to rise up and attack the continuous learning dilemma.
              | Introduction to the continuous learning spectrum.
          // </rightsidebar>
      // /row
    // /container
    include ../includes/page_footer.pug
