doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous learning blog, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Blog history page. An index of articles published on this website.")
    title Blog History
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    mixin BLOG_DATE(day,month,year)
      .text-center
        span.blog-day
          | &nbsp;#{day}&nbsp;
        span.blog-month
          | &nbsp;#{month}&nbsp;
        span.blog-year
          | &nbsp;#{year}&nbsp;
    mixin PAGE_LIKE_LIST_ITEM(pageName)
      span.hidden(id="like"+pageName)
        | &nbsp;
        img.img-thumbnail(src="/images/like.svg" width="22" height="22" style="margin-bottom: 3px")
        | &nbsp;
        small(id= pageName, style="color:silver")
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Blog History
              hr.featurette-divider

              p
                | Through this blog I hope to give you a flavour of my working life at Capgemini, both as an architect
                | and as Capabilities Lead for our Digital Delivery Group on the HMRC account. I trust you will find
                | it informative and helpful.

              p.text-right
                b Tim Simpson
                br 
                span.badge.hashtag #LifeAtCapgemini

              table.table
                thead
                  th Date
                  th Title / Description
                tbody
                  tr
                    td
                      +BLOG_DATE("01","NOV","2019")
                    td
                      h2
                        a(href="creativity-on-demand.html", title="Creativity On Demand") Creativity On Demand
                        +PAGE_LIKE_LIST_ITEM("creativity-on-demand")
                      p
                        | Even in this modern world, creativity is not something we can just call up on demand.
                        | So how do you get past the mental road blocks and get those creative juices flowing?
                  tr
                    td
                      +BLOG_DATE("25","OCT","2019")
                    td
                      h2
                        a(href="frozen-in-time.html", title="Frozen In Time") Frozen In Time
                        +PAGE_LIKE_LIST_ITEM("frozen-in-time")
                      p
                        | Don't get frozen in the past by a fatal hesitation in these times of permanent change.
                  tr
                    td
                      +BLOG_DATE("18","OCT","2019")
                    td
                      h2
                        a(href="wall-of-champions.html", title="Wall Of Champions") Wall Of Champions
                        +PAGE_LIKE_LIST_ITEM("wall-of-champions")
                      p
                        | How recognising achievement can be a great way of motivating your staff and help
                        | to build a SME network to drive technical communities, share knowledge and build people.
                  tr
                    td
                      +BLOG_DATE("11","OCT","2019")
                    td
                      h2
                        a(href="building-people-then-products.html", title="Building People, Then Products") Building People, Then Products
                        +PAGE_LIKE_LIST_ITEM("building-people-then-products")
                      p
                        | The essence of successful Lean Thinking is “building people, then building products”.
                        | Do you see yourself and your organisation doing that?
                  tr
                    td
                      +BLOG_DATE("06","SEP","2019")
                    td
                      h2
                        a(href="capability-smells.html", title="Capability Smells") Capability Smells
                        +PAGE_LIKE_LIST_ITEM("capability-smells")
                      p
                        | Some good and bad smells regarding building capabilities within an organisation.
                        | How is your sense of smell? Are you smelling success?
                  tr
                    td
                      +BLOG_DATE("30","AUG","2019")
                    td
                      h2
                        a(href="arriving-at-destination-on-cloud.html", title="Starters And Finishers") Arriving At Destination ... On Cloud
                        +PAGE_LIKE_LIST_ITEM("arriving-at-destination-on-cloud")
                      p
                        | Some key lessons learned from developing the page like functionality for DilemmaLearning.com.
                  tr
                    td
                      +BLOG_DATE("23","AUG","2019")
                    td
                      h2
                        a(href="starters-and-finishers.html", title="Starters And Finishers") Starters And Finishers
                        +PAGE_LIKE_LIST_ITEM("starters-and-finishers")
                      p
                        | Over the years I’ve noticed that people often fall distinctly into one
                        | of two categories, namely that of either “starters” or “finishers”. What's the difference
                        | and why are both necessary?
                  tr
                    td
                      +BLOG_DATE("16","AUG","2019")
                    td
                      h2
                        a(href="almost-likable.html", title="Almost Likable") Almost Likable
                        +PAGE_LIKE_LIST_ITEM("almost-likable")
                      p
                        | Page like functionality is making progress albeit not actually visible to end users yet.
                        | Continuous progress is the secret to successful learning. Those who make time to make
                        | things happen on their learning journey are ultimately the ones who succeed.
                  tr
                    td
                      +BLOG_DATE("09","AUG","2019")
                    td
                      h2
                        a(href="wanting-to-be-liked.html", title="Wanting To Be Liked") Wanting To Be Liked
                        +PAGE_LIKE_LIST_ITEM("wanting-to-be-liked")
                      p
                        | The ambition and quest to add "page like" functionality to DilemmaLearning.com
                        | and how pet projects can drive personal learning.
                  tr
                    td
                      +BLOG_DATE("02","AUG","2019")
                    td
                      h2
                        a(href="out-learn-the-competition.html", title="Out-Learn The Competition") Out-Learn The Competition
                        +PAGE_LIKE_LIST_ITEM("out-learn-the-competition")
                      p
                        | Lean Thinking embraces the mantra “out-learn the competition”.
                        | Do you see yourself and your organisation doing that?
                  tr
                    td
                      +BLOG_DATE("26","JUL","2019")
                    td
                      h2
                        a(href="blast-off-from-the-past.html", title="Blast Off From The Past") Blast Off From The Past
                        +PAGE_LIKE_LIST_ITEM("blast-off-from-the-past")
                      p
                        | The 50th anniversary of the first moon landing got me all nostalgic.
                        | I can’t even begin to imagine the sheer complexity of building such a technical solution.
                  tr
                    td
                      +BLOG_DATE("19","JUL","2019")
                    td
                      h2
                        a(href="continuous-curiosity.html", title="Continuous Curiosity") Continuous Curiosity
                        +PAGE_LIKE_LIST_ITEM("continuous-curiosity")
                      p
                        | I am forever hearing about new tools and technologies. This is not anything new,
                        | in fact it happens all the time. The question is, how do you deal with it?
                  tr
                    td
                      +BLOG_DATE("11","JUL","2019")
                    td
                      h2
                        a(href="opening-new-doors-to-new-possibilities.html", title="Opening New Doors To New Possibilities") Opening New Doors To New Possibilities
                        +PAGE_LIKE_LIST_ITEM("opening-new-doors-to-new-possibilities")
                      p
                        | Training about theory and the different technology choices available are just a
                        | sample taste of the possibilities of how technologies might be combined and used
                        | for constructing solutions.
                  tr
                    td
                      +BLOG_DATE("04","JUL","2019")
                    td
                      h2
                        a(href="a-time-to-reflect.html", title="A Time To Reflect") A Time To Reflect
                        +PAGE_LIKE_LIST_ITEM("a-time-to-reflect")
                      p
                        | H2 is here already! Where did the last six months go? I stopped to reflect
                        | and made some changes to my personal development plan. 
                  tr
                    td
                      +BLOG_DATE("28","JUN","2019")
                    td
                      h2
                        a(href="a-big-mistake-about-learning.html", title="A Big Mistake About Learning") A Big Mistake About Learning
                        +PAGE_LIKE_LIST_ITEM("a-big-mistake-about-learning")
                      p
                        | A big mistake that people make about learning is to think that learning is not work. 
                        | Why learning should be treated as a part of normal, daily work.
                  tr
                    td
                      +BLOG_DATE("21","JUN","2019")
                    td
                      h2
                        a(href="birmingham-meetup-18062019.html", title="Birmingham Digital & DevOps Meetup 18th June 2019") Birmingham Digital &amp; DevOps Meetup - 18th June 2019
                        +PAGE_LIKE_LIST_ITEM("birmingham-meetup-18062019")
                      p
                        | The Birmingham Digital &amp; DevOps Meetup was the first public outing of my
                        | "Continuous Learning Dilemma" presentation and also proved a great opportunity for
                        | social learning.
                  tr
                    td
                      +BLOG_DATE("14","JUN","2019")
                    td
                      h2
                        a(href="how-does-a-successful-manager-act.html", title="How Does A Successful Manager Act To Develop Their Staff?") How Does A Successful Manager Act To Develop Their Staff?
                        +PAGE_LIKE_LIST_ITEM("how-does-a-successful-manager-act")
                      p
                        | In my research I stumbled upon an interesting booklet by The Campaign For Learning
                        | called "Leading on Learning". In part 2 of my analysis, here's what they had to say about
                        | how a successful manager acts to develop their staff.
                  tr
                    td
                      +BLOG_DATE("07","JUN","2019")
                    td
                      h2
                        a(href="beyond-training.html", title="Beyond Training") Beyond Training
                        +PAGE_LIKE_LIST_ITEM("beyond-training")
                      p
                        | Training and learning are not the same thing.  
                        | Existing training budgets will prove too limiting in the world of continuous learning
                        | and so organisations need to seriously consider how they will invest in growing 
                        | their own talent or face falling further behind.
                  tr
                    td
                      +BLOG_DATE("31","MAY","2019")
                    td
                      h2
                        a(href="crazy-busy.html", title="Crazy Busy") Crazy Busy
                        +PAGE_LIKE_LIST_ITEM("crazy-busy")
                      p
                        | "Crazy Busy" is the enemy of continuous learning.  
                        | Find out how to step out of the whirlwind of "crazy busy" and regain control of your time and work.
                  tr
                    td
                      +BLOG_DATE("17","MAY","2019")
                    td
                      h2
                        a(href="pluralsight-live-europe-2019.html", title="Pluralsight Live Europe 2019") Pluralsight Live Europe 2019
                        +PAGE_LIKE_LIST_ITEM("pluralsight-live-europe-2019")
                      p
                        | It was great to attend Pluralsight Live Europe 2019 in London this week.  
                        | Find out what I hoped to learn and what I actually learned.
                  tr
                    td
                      +BLOG_DATE("03","MAY","2019")
                    td
                      h2
                        a(href="overcoming-obstacles-to-build-a-learning-culture.html", title="Overcoming Obstacles To Build A Learning Culture") Overcoming Obstacles To Build A Learning Culture
                        +PAGE_LIKE_LIST_ITEM("overcoming-obstacles-to-build-a-learning-culture")
                      p
                        | In my research I stumbled upon an interesting booklet by The Campaign For Learning
                        | called "Leading on Learning". In part 1 of my analysis, here's what they had to say about overcoming obstacles
                        | to build a learning culture.
                  tr
                    td
                      +BLOG_DATE("26","APR","2019")
                    td
                      h2
                        a(href="continuous-learning-initiatives-technical-communities.html", title="Continuous Learning Initiatives - Technical Communities") Continuous Learning Initiatives - Technical Communities
                        +PAGE_LIKE_LIST_ITEM("continuous-learning-initiatives-technical-communities")
                      p
                        | How we use Technical Communities as one way to achieve knowledge sharing so that
                        | people can grow their desired skills to the right depth at the right time whilst
                        | staying abreast of emerging industry technologies and trends in a safe learning
                        | environment.
                  tr
                    td
                      +BLOG_DATE("18","APR","2019")
                    td
                      h2
                        a(href="continuous-learning-initiatives-learning-vehicles.html", title="Continuous Learning Initiatives - Learning Vehicles") Continuous Learning Initiatives - Learning Vehicles
                        +PAGE_LIKE_LIST_ITEM("continuous-learning-initiatives-learning-vehicles")
                      p
                        | The Learning Vehicles initiative really lays the foundations for the other
                        | initiatives to build on downstream. Explains how our office is equipped for
                        | learning and the ways of learning we make available.
                  tr
                    td
                      +BLOG_DATE("12","APR","2019")
                    td
                      h2
                        a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                        +PAGE_LIKE_LIST_ITEM("rising-to-the-challenge-of-continuous-learning")
                      p
                        | Formulating the approach to rise up and attack the continuous learning dilemma.
                        | Introduction to the continuous learning spectrum and the early initiatives I planned.
                  tr
                    td
                      +BLOG_DATE("05","APR","2019")
                    td
                      h2
                        a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma")
                          | The Continuous Learning Dilemma
                        +PAGE_LIKE_LIST_ITEM("the-continuous-learning-dilemma")
                      p
                        | Explanation of what I mean by the term "the continuous learning dilemma" that
                        | I believe IT people and organisations are facing today. It's no small challenge!
                  tr
                    td
                      +BLOG_DATE("29","MAR","2019")
                    td
                      h2
                        a(href="prologue.html", title="Prologue")
                          | Prologue
                        +PAGE_LIKE_LIST_ITEM("prologue")
                      p
                        | About me, who I work for and how this blog came about.
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.

                h4 
                  a(href="../about.html#tech" title="Technical Stuff") Technical Stuff 
                p
                  | The development tools and technologies used to build this website.  
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug

    +PAGE_LIKE_INIT("blog")
