doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='building people, lean thinking, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Another lean thinking mantra: 'Build people, then products'.")
    title Building People, Then Products
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Building People, Then Products
              hr.featurette-divider

              h2 Another Lean Thinking Mantra

              p
                | Forgive me but I've been a fan of "Lean Thinking" for a long time. It all started after I read
                | a PDF document called "Lean Primer" from 
                a(href="http://www.leanprimer.com", target="_blank") LeanPrimer.com
                |  (which you can now also 
                a(href="https://less.works/less/principles/lean-thinking.html", target="_blank") read on-line
                | ).
              
              p
                | In a previous blog post I discussed 
                | the Lean mantra 
                a(href="out-learn-the-competition.html") “out-learn the competition”
                |  but in this post I'd like to discuss 
                | another Lean mantra, namely "build people, then products".

              p
                | To quote the Lean Primer: 
                q
                  | The essence of successful lean thinking is “building people, then building products”
                  | and a culture of “challenge the status quo” via continuous improvement.
              
              p
                | Note: I assume the quoted term "continuous improvement" to imply continuous self-development too.

              p
                | Do you see yourself and your organisation doing that?

              h2 Cloning Sheep Is Easier Than Cloning "Go To" People

              img.mugshot.img-thumbnail.img-responsive(src='../images/dolly-the-sheep.jpg', alt='Dolly was a female domestic sheep, and the first mammal cloned from an adult somatic cell, using the process of nuclear transfer.', title='Dolly was a female domestic sheep, and the first mammal cloned from an adult somatic cell, using the process of nuclear transfer.')

              p
                | In any large organisation, we each tend to have our own list of "go to" people for specific things.
                | This often works fine for day to day stuff but it's not a scalable way of resourcing projects or growing
                | a successful business.

              p
                | The pace of change in the IT industry means we often want to clone our "best people" but it's just not
                | that easy, even if scientists can clone a sheep! Nor can recruitment keep up with the demand for new skills. 

              p
                | In a rapidly and frequently changing industry such as the IT industry, business success relates directly
                | to a company's ability to embrace change and ensure its employees learn new techniques, technologies and tools
                | in order to exploit
                | emerging markets and meet future customer needs.

              p
                | Building people is therefore a necessity which requires a company’s management commitment to continuously
                | invest in its people and promote a culture of continuous learning and improvement.

              h2 How exactly do you "build" people?

              p
                | Well there's a question! It's the one I ask myself almost every day at work because it's part of my job
                | as Capabilities Lead for our Digital Delivery Group.

              p
                | To start to answer this question we first need to understand and balance the needs of the business 
                | versus the needs of each individual in their work. This must be in the context of how the business 
                | operates today and how quickly and frequently it needs to change to successfully meet future customer
                | needs and ways of working. The higher the level of business agility that is required, the steeper the 
                | associated learning curves become if learning is not already baked into the organisation's way of working.

              h3 Business Needs

              p
                | A business typically has the following needs from its people:
                ul
                  li Capable.
                  li Flexible.
                  li High quality workmanship.
                  li Efficient execution.
                  li Continuous improvement.
                  li Teamwork.
                  li Knowledge sharing.

              h3 Individual Needs

              p
                | Individuals typically have the following needs of the organisation as part of their work:
                ul
                  li Interesting and challenging work.
                  li Appropriate training when necessary.
                  li An environment conducive to both work and learning.
                  li Direction on what to learn and why but also flexibility on what people may want to learn.
                  li Empowerment and encouragement to learn.
                  li Learning facilities catering for different ways of learning.
                  li Support for different career paths and personal development.
                  li Opportunities to rotate work / roles. 
                  li Collaboration tools but also flexibility on what tools a team may choose to use.
                  li Appropriate reward, respect and recognition for learning and achievements.
                  li Celebrate success.

              p
                b
                  | N.B.
                |  It's a manager's responsibility to make sure that these needs are being met for their staff.

              h2 Intentionally Building People

              p
                | Most of us have heard someone say "people are our most important assets" but it's a serious
                | commitment to make those words true. Not only does it require investment and commitment, it requires a culture
                | where managers genuinely want their staff to be successful.

              p
                | In such a culture, metrics and targets relate to people just as much as budgets
                | and managers are measured by and accountable for them.

              p 
                | They may include measures
                | like training time, learning time, certifications etc. They may include various induction
                | processes or rotations through different teams to ensure that employees get exposure to
                | every aspect of the business or department in which they are working and understand all of
                | the lifecycle or value chain from concept to cash and beyond.

              h2 Boss Shopping

              p
                | Who's building you?
                
              P 
                | If you're not sure that you are "being built" then maybe you're not working 
                | for the right person. Perhaps you need to go "boss shopping". (Watch 
                a(href="https://www.youtube.com/watch?v=F9b0fi7p3Ts", target="_blank") Secrets Of People Who Love Their Jobs
                |)

              p
                | Working for a manager who will challenge you and help you to develop is half the
                | problem solved. 

              p
                | By the way, who are you building?

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 11th October, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("capability-smells.html","")

          .col-md-3.hidden-print
            include ../includes/page_blog_sidebar.pug
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
