doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous curiosity, rewarding research, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Continuous curiosity is both healthy and rewarding.")
    title Continuous Curiosity
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Continuous Curiosity
              hr.featurette-divider

              h2 Yet More New Kids On The Block

              p
                | I don’t know about you but in my role as an architect I am forever hearing about
                | new tools and technologies. They often have crazy names which I’m not even sure
                | how to spell at times. This is not anything new, in fact it happens all the time.
                | The question is, how do you deal with it?

              p
                | I started asking around to see how some of my colleagues deal with this. Most
                | said that they got their phone out and Googled it, perhaps under the table if
                | they were in a meeting. 😊
              
              p
                | Others said they had given up chasing down all things new because it took too
                | much effort to keep up with every new thing that they heard about.

              p
                | I’m not in love with my mobile phone so I sit in the middle of these two approaches.
                | I typically make a note in my learning diary and then pursue the look-up at some
                | other time that is suitable.

              h2 Curiosity Is Healthy And Rewarding

              p
                | I believe curiosity is healthy and rewarding (although perhaps not for cats).

              p
                | For those curious enough to resort to research, some kind of learning will inevitably
                | result. Those who adopt this approach tend to be the kind of people who already
                | know about something when someone presenting asks the audience to raise their hand
                | if they have heard of X or know something about it. (Of course some in this
                | situation deliberately avoid raising their hand in case they get asked to explain
                | it. 😊)

              h2 Curiosity Opens New Doors To New Possibilities

              p
                | Have you ever wondered how the trail blazers latch on to new things? It’s simple!
                | They choose to follow up on their curiosity beyond the point of research. Their
                | curiosity turns into doing something rather than just reading about it. These are
                | the people who click on the “Get Started” link.

              p
                | In my book, it takes both “starters” and “finishers” to do things well but we’d
                | be so stuck in the past without the “starters” who get bored so quickly doing the
                | same thing day in, day out.

              p
                | Like training, curiosity opens new doors to new possibilities.

              h2 We Never Had It So Good

              p
                | Today, if you dare to experiment with cloud technologies, you’ll soon discover it’s
                | easier than ever to build things. There is already a wealth of services out there
                | (most have three-letter acronyms) just waiting to be consumed and because much of
                | the hard work has been done by someone else for you (sample code provided), they
                | are very quick and easy to embrace.

              p
                | Many legacy solutions are so overdue a re-write! You would never build anything
                | today the way we built things in the past. The problem is that if we fail to follow
                | the healthy pursuit of continuous curiosity, legacy thinking will always hold us back.

              p
                | Get curious. Dare to discover new and better ways of doing things.

              p
                | Go on, challenge the status quo!

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 19th July, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("opening-new-doors-to-new-possibilities.html","blast-off-from-the-past.html")

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
