doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Learning Vehicles, new ways of learning, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The Learning Vehicles initiative we used to begin the journey of continuous learning.")
    title Continuous Learning Initiatives - Learning Vehicles
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Continuous Learning Initiatives - Learning Vehicles
              hr.featurette-divider

              h2 Learning Vehicles Initiative

              p
                | This week I’d like to describe one of the on-going high-level initiatives launched last
                | year as part of a multi-threaded approach to rise to the challenge of achieving continuous
                | learning within our growing Digital Delivery Group (DDG). I’ll explain what the initiative
                | is about and how it inter-relates to the others as part of an over-arching strategy. The
                | collective goal of the initiatives is to “build people” and, as “Fun” is one of the seven
                | Capgemini core values, we want to have fun along the way.

              p
                | Forgive the academic terminology used for this initiative. In my view this is an impressive
                | area for Capgemini. Attending the Pluralsight UK User Group earlier this year and reading
                | around what other companies have been doing made me realise what great strides our Learning
                | and Development Team at Capgemini has already made to make learning as accessible as possible
                | to everyone.

              p
                | The Learning Vehicles initiative really lays the foundations for the other initiatives to
                | build on downstream. Management direction and support for learning play a big, on-going part
                | in this initiative.

              h2 Traditional Tools And Approaches To Learning

              p
                | The Capgemini “My Learning Portal” allows users to sign up to a vast array of classroom-based
                | courses covering both technical and non-technical subjects as well as a range of on-line
                | eLearning courses, videos and books (known as “Books 24-7”). Capgemini also cover well-being
                | and life circumstance type subjects as well as environmental and ethical matters.

              p
                | Self-sourced training courses from external organisations and attendance at conferences are
                | also options and we have that thing called The Internet too.

              h2 New Facilities And New Ways Of Learning

              p
                | The traditional tools and approaches to learning have been supplemented with additional
                | facilities and ways of learning since our office received a massive makeover – so much so
                | that we had to vacate the building for several months and when we arrived back the
                | re-partitioned building had a new name (“@Phoenix”), re-numbered floors, lots of vibrant
                | colour and also new furniture designed for improved collaboration and productivity – all
                | of which we now mostly take for granted.

              p
                | The new facilities also included new rooms designated and equipped specifically for learning
                | and knowledge sharing.

              h2 Top Skills

              p
                | The New Ways Of Learning Team also set about obtaining some Technical Leadership to identify and group
                | the top skills and emerging industry roles applicable to our business and making them known
                | to people with regular comms and links to useful material. This is really helpful in our
                | Digital world when there are so many choices to whittle down from.

              p
                | Individual teams are responsible for contributing to and analysing the Top Skills to prioritise
                | relevant skills and plan them into their strategy and training. (This is where the Team Health
                | Check initiative and management direction and support for learning fit in.)

              h2 Learning Has Its Place

              p
                | We’ve got lots of places for learning – some more exotic than others. 
              
              h3 Campus Serge Kampf Les Fontaines

              p
                | Named after the founder of Capgemini, to the north of Paris we
                | have the Capgemini Campus, Les Fontaines which looks like a fairy-tale French Chateau and which
                | is also home to the Capgemini University. (Watch a short 
                a(href="https://www.youtube.com/watch?v=Tjsd0iDvq8E", title="Les Fontaines Video (short)", target="_blank") Les Fontaines video
                |.)

              img.img-thumbnail.img-responsive(src='../images/capgemini-campus-les-fontaines.jpg', alt='Capgemini Campus, Les Fontaines', title='Capgemini Campus, Les Fontaines')

              p
                | Capgemini University courses aren’t just limited to the Campus, the talented instructors travel
                | all over the world delivering courses and for a few years I worked periodically alongside some
                | of them teaching Agile courses in the UK. (Those were great days and I sure learned a lot from
                | those very clever people.)

              h3 At Your Desk Or Around The Office

              p
                | If fairy-tale castles aren’t the norm for you then there is always the option to learn from
                | your desk (or from home) or even from different locations within the office where we have
                | designated Learning Hub rooms or cosy pieces of office furniture (some with iPads attached)
                | that let you hide away to study on-line with partner tools such as 
                a(href="https://www.pluralsight.com/", title="Pluralsight", target="_blank") Pluralsight
                |.

              h3 In The TechHub

              img.img-thumbnail.img-responsive(src='../images/empty-techhub.jpg', alt='@Phoenix TechHub Facility', title='@Phoenix TechHub Facility')
              p
                img#mugshot.img-thumbnail.img-responsive(src='../images/techhub-banner.jpg', alt='TechHub Banner', title='TechHub Banner', width="30%", height="30%")
                | The TechHub is a busy and well-equipped venue for learning. The strap line for it is
                | “Technology Worth Sharing” and it’s where we host the Learning Cinema and many of the events
                | for our Technical Communities, vendor interactions or technical learning series (such as
                | learn Python or React). You also often find people playing with trendy gadgets in there such
                | as robots, 3D printer, AR/VR, Alexa and Raspberry Pi devices for example. New tech arrives
                | there all the time.

              p
                | It has the biggest TV touch-screen I’ve ever seen and it’s also where we run Tech Talks
                | which are recorded and streamed live to multiple locations via Skype. The TechHub can
                | occasionally be a tough gig for junior speakers in front of a camera and/or a big technical
                | (and sometimes unforgiving) crowd. No pressure when the tech isn’t working! 😊

              p
                | The TechHub has its own merchandise such as T-shirts and stickers. I heard that there are plans
                | to take the TechHub and learning “on the road” with a number
                | of technology initiatives planned.

              h3#cinema The Learning Cinema

              p 
                img#mugshot.img-thumbnail.img-responsive(src='../images/learning-cinema-banner.jpg', alt='Learning Cinema Banner', title='Learning Cinema Banner', width="30%", height="30%")
                | We host The Learning Cinema every Thursday morning from 11-12, usually as two half-hour
                | sessions or occasionally for an hour. We also use it to support company themes such as
                | Mental Health Awareness week.

              p
                | The format is simple: gather to watch a short video together (thanks YouTube) and then
                | discuss. You can even interrupt the video if needed to ask questions – not something you
                | should try at your local cinema.

              p 
                | We delivered 100 sessions last year covering a vast range of topics and including
                | non-technical stuff such as TED talks and things like happiness at work, memory skills
                | and sleep engineering as examples. (Maybe I’ll post some of these on Twitter in future
                | – see 
                a(href='https://twitter.com/DilemmaLearning', title="@DilemmaLearning", target="_blank") @DilemmaLearning
                |.)

              p
                | Some sessions attract more attendees than others and we advertise using a great tool called
                | the “Event Hub” built by our fab Comms Team which allows anyone to browse or arrange and
                | publicise events with visibility across our whole account and with a useful weekly email
                | distribution to let people know what’s on, when and where. Links to all the content shown
                | are held on a wiki for anyone who missed sessions or wants to re-visit material.

              h3 Study Squads

              p
                | Certifications are a concrete way of demonstrating our technical credentials to our customers
                | and so people occasionally group together to study and share knowledge in preparation for
                | certification exams.

              p
                | It’s a great way to up your commitment to learning and be encouraged by one another. Certified
                | people often come along to sessions to share tips and answer questions.

              p
                | Learning doesn’t have to be lonely!

              h2 Customer Learning Facilities

              p
                | At Capgemini we extend our learning facilities to our customers too. For example, there is the
                | Applied Innovation Exchange (AIE) offering an opportunity to get hands-on with technologies to
                | discover possibilities (watch 
                a(href="https://youtu.be/gvyIazz_pX8", title="AIE Video (short)", target="_blank") AIE video
                |) or alternatively there is the Accelerated Solution
                | Environment (ASE) where we facilitate powerful interactions to tackle complex business challenges
                | (watch 
                a(href="https://youtu.be/kfpfLvposV4", title="ASE Video (short)", target="_blank") ASE video
                |). We also use our local ASE as a venue for our annual account-wide Kick-Off and
                | Kick-On events.

              h2 Kit

              p
                | I’m an old-school Windows user and my laptop is as heavy as it is powerful which means I don’t
                | need to go to our gym on the first floor as I have my very own home-weight-lifting kit. I’m able
                | to install pretty much whatever software I need to and there’s no lock-down on Internet access.
                | Some of my more trendy colleagues use those silver things with the nibbled fruit logo but I have
                | enough learning curves already so there’s no possibility of me switching.

              p
                | I’ve also seen people using large tablets to write and draw on with a stylus in meetings but I
                | still use an A4 notebook and pen although I do take the odd photo of whiteboards or table-tops
                | with my phone. It’s whatever suits you to get the job done.

              h2 The Daily Stand-Up Meeting

              img.img-thumbnail.img-responsive(src='../images/daily-stand-up.jpg', alt='Daily Stand-Up', title='Daily Stand-Up')
              p
                img#mugshot.img-thumbnail.img-responsive(src='../images/gong.jpg', alt='Daily Stand-Up Gong', title='Daily Stand-Up Gong', width="30%", height="30%")
                | Every day we have a departmental stand-up in a corner of our large office run by a different
                | team each day. I never imagined a daily stand-up would work with so many people but it’s surprisingly
                | effective for communicating. A gong signals the meeting is about to start.

              p
                | The meeting starts with a team giving their update followed by standard format notifications and
                | people chipping in as appropriate. We also use this forum to celebrate Star(s) of the Week and to
                | remind people about key learning opportunities available that day or later in the week.

              p
                | In future posts I’ll drill deeper into each of the other initiatives to describe what we did, the
                | challenges encountered, what worked, what didn’t and what we learned along the way.

              p
                | Happy Easter!

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 18th April, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("rising-to-the-challenge-of-continuous-learning.html","continuous-learning-initiatives-technical-communities.html")
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
