doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Technical Communities, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The Technical Communities initiative we used to share best practices and reduce learning curves on the journey of continuous learning.")
    title Continuous Learning Initiatives - Technical Communities
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-9
          h1 Continuous Learning Initiatives - Technical Communities
          hr.featurette-divider

          h2 Technical Communities Initiative

          p
            | This week I’d like to describe another one of the on-going initiatives launched last year
            | as part of a multi-threaded approach to rise to the challenge of achieving continuous learning
            | within our growing Digital Delivery Group (DDG) – now over 800 people. This time it’s the
            | subject of Technical Communities.

          p
            | Capgemini is an “IT” company and yet you still sometimes hear people say “I’m not technical”.
            | Whoa! That’s not our intention. We want everyone to be technical in their own sphere of working.
            | That means we need to continually put effort into sharing different levels of knowledge about
            | lots of different tools, techniques and technologies as they emerge and make their way into our
            | ways of working and customer solutions.

          p
            | Not everyone will share the same needs or timeframes for technical skills and so we use Technical
            | Communities as one way to achieve knowledge sharing so that people can grow their desired skills
            | to the right depth at the right time whilst staying abreast of emerging industry technologies and
            | trends.

          h2 Awesome Communities

          p
            | Last year we set out to launch several “awesome” technical communities around a number of broad
            | areas of interest which included cloud, development, test, security, agile, data and operations.
            | We saw these initial awesome communities as a starting point for raising the profile of best 
            | practices and for knowledge sharing.

          p
            | Using the “awesome” brand was a deliberate intention to generate a unified mindset that says
            | “mediocre is not acceptable” and to set a goal of what we wanted to aim for, even if it became
            | a moving target. (We already had a number of highly successful role-based communities.)

          p
            | Each awesome community had an assigned owner and deputy plus a bunch of leaders (typically 4)
            | and was tasked with creating its own “Definition of Awesome”. (This is a concept we borrowed
            | from Spotify where the idea is that you define what “awesome” looks like for you and then identify
            | the next few steps that you can take to march towards it with the intention of repeating the
            | process indefinitely.)

          h3 Community Events

          img.img-thumbnail.img-responsive(src='../images/awesome-data-event.jpg', alt='Awesome Data Community Event - CouchBase DB', title='Awesome Data Community Event - CouchBase DB')

          p
            | Community events typically run for an hour out of our TechHub facility. Initially advertising
            | was from a community related Slack channel (e.g. awesome-dev) supported by word of mouth. We
            | later supplemented / replaced this with our Event Hub Power App built by our fab Comms Team
            | which allows anyone to browse or arrange and publicise events with visibility across our whole
            | account and with a useful weekly email distribution to let people know what’s on, when and where.

          p
            | Anyone can attend a community event and the format is not fixed. The format may be for multiple
            | speakers to each deliver a “Lightning Talk” on a different topic or it may be a presentation or
            | video or hands-on live coding demo (not for the faint hearted). Sometimes we run Study Squads or
            | invite vendors or business partners to come talk about their products etc.

          h3 Safe Learning Environment

          p
            | It is essential that our technical communities are accessible to all people at all levels across
            | all departments and we want them to be a safe place for learning where people can learn together.
            | No question is considered “stupid” so people don’t need to be afraid to ask questions if they
            | don’t understand something or if they want to know something more specific and relevant to them.
            | We’re all here to learn and to help each other learn.

          h3 Smarter Learning Together

          p
            | Training is an event but learning is something we all do every day. We need people to be able
            | to capture what they are learning every day, reflect on it and then share it with others. Our
            | technical communities enable people to do that and to learn from others, reducing the learning
            | curve and often avoiding learning something the hard way. (It’s avoiding that position of
            | saying “if I’d known then what I know now …” or avoiding letting bad history repeat itself.)

          p
            | This also allows us to support people in the workplace to grow their skills and direct their career.

          h3 Non-Stop Technical

          p
            | We call them “technical” communities because we’re a technology company and we want all our
            | staff to understand what we’re doing and why. That means understanding “technology” and how
            | we and our customers can apply it and benefit from it. There’s no escaping it because we use
            | it and talk about it every day and new stuff emerges every day too. It’s never ending!

          h3 Community Goals

          p
            | For a company with the mantra “People matter, results count.” it should come as no surprise
            | that “building people” is an over-arching goal for us (and a personal one for me in my role
            | as DDG Capabilities Lead) and so it’s important that our technical communities set goals to
            | achieve this.

          p
            | A basic goal is to hold regular meetings, preferably every fortnight or more frequently.
            | Another one is to make sure that we cover all the relevant bases regarding things like best
            | practices, what good looks like etc. so that we bring on new talent and don’t stumble across
            | people who are blissfully unaware of such things.

          p
            | To better support this goal we switched to a
            | cross-community, joint-planning approach this year under the over-arching banner of "awesome engineering".
            | This helps maintain high calibre
            | practitioners in both our knowledge and ways of working that we believe helps differentiate us from
            | our competitors.

          img.img-thumbnail.img-responsive(src='../images/awesome-engineer.jpg', alt='Awesome Engineer', title='Awesome Engineer')

          p
            | A more tangible goal for technical communities is to increase our number of certifications
            | in a given skill and to bridge skill gaps. Having tangible goals makes our management teams more
            | willing to pay for
            | pizzas at events or stuff like T-shirts, banners, stickers or attending conferences etc.
            | because they can see the value generated by communities more easily.

          h3 What’s In It For Me? (WIIFM?)

          p
            | People won’t give up their time easily so there has to be a compelling value proposition.
            | Here’s what we aim to offer anyone who chooses to attend technical community events regularly:
            ul
              li Safe learning environment (no question is stupid)
              li Opportunity to learn together with others
              li Gain deeper insights into areas of interest
              li Grow technical skills
              li Knock shoulders with Subject Matter Experts (SMEs)
              li Learning curve reduction (avoid learning the hard way)
              li Advice on what to learn
              li Help to study and gain certifications
              li Help with project challenges
              li Learn about best practices ("what good looks like")
              li Keep abreast of emerging technologies, tools and techniques
              li Gain reward, recognition and respect for being a SME
              li Career path direction and progression
              li Occasional free food(!)

          h2 Community Challenges

          h3 Communicating Clearly

          p
            | Finding speakers to host technical community events is one thing, getting them to commit to
            | a date is another but having very few people turn up to the event itself is not good. There
            | can be lots of reasons for this and it’s most often a communication problem.

          p
            | Early on we weren’t too good at communicating what events were really about or who the
            | intended audience was or at what skill level the content was pitched. Sometimes we didn’t
            | even communicate clearly where exactly the event was being hosted!

          p
            | We needed a better comms mechanism and better marketing skills for our events. (If you use
            | a dull title or lousy description then guess what … Think of all the “click bait” news
            | headlines you’ve ever clicked on only to be let down by a dull story but too late, you
            | bought it!) Fortunately our Event Hub dealt with many of the comms problems for us. Maybe
            | AI can choose some more compelling titles and event descriptions than our speakers going
            | forwards. 😊

          h3 Community Event Times

          p
            | To maximise the availability of people to attend means avoiding clashes with key business
            | events, daily
            | stand-ups and the various agile ceremonies. It can mean avoiding lunch times and starting
            | too early or too late. 
          
          p
            | Some of our communities allow their members to vote on the preferred
            | date and time of the next meeting (using Slack or MS Teams). 

          h2 Coming Soon

          p
            | How we find speakers for our events is the subject of another initiative (Wall of Champions)
            | and this, along with how we motivate people to attend events, will be covered in future blog
            | posts – stay tuned.

          p.text-right
            b Tim Simpson
            br 
            | 26th April, 2019
            br 
            span.badge.hashtag #LifeAtCapgemini

          p
            a.btn.btn-lg.btn-primary(href='overcoming-obstacles-to-build-a-learning-culture.html', role='button') Next Blog Post »
          
        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .rightsidebar
            // <rightsidebar>
            h3 See Also

            h4 
              a(href="prologue.html", title="Prologue") Prologue
            p
              | About me, who I work for and how this blog came about.  

            h4 
              a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
            p
              | The biggest problem facing the IT industry today, namely continuous learning.  

            h4 
              a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
            p
              | Formulating the approach to rise up and attack the continuous learning dilemma.
              | Introduction to the continuous learning spectrum.

            h4 
              a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
            p
              | Hints and tips to help with personal and corporate learning.  
          // </rightsidebar>
      // /row
    // /container
    include ../includes/page_footer.pug
