doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Crazy busy, maxed out, stressed out, time management, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Crazy Busy is the enemy of continuous learning. Learn how to step out of the whirlwind of 'crazy busy' to re-gain control of your work.")
    title Crazy Busy
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Crazy Busy
              hr.featurette-divider

              h2 The Enemy Of Continuous Learning

              p
                | “Crazy Busy” is the enemy of continuous learning. 

              p
                | Fortunately for me “crazy busy” doesn’t happen that often but it does happen occasionally
                | when I take on too much and find it difficult to manage my time well because of all the
                | plates I’ve set spinning. It can sneak up on you if you’re not careful and for some people
                | it’s normal and the reason why they fail to make any time for learning. However, it
                | happened to me recently, so I thought I’d share the experience with you.

              p
                | In my experience this can happen to anyone when they least expect it if they are not
                | careful so the secret is to recognise the circumstances and recover quickly,
                | rather than trying to cope with not being able to cope!

              h2 Crazy Busy Has Consequences

              p
                | Unfortunately, once we arrive at “crazy busy” we soon see that there are consequences that
                | we can’t easily escape from and that only seem to compound things. 
                
              p
                | For me, some of the consequences
                | usually manifest as follows when I’ve been trying to cope for longer than I should have:
                ul
                  li Stress!
                  li Missing deadlines.
                  li Taking longer to get things done.
                  li Email inbox starts growing (100+ unread and counting).
                  li Missing meetings to catch-up on work that’s still not done.
                  li People commenting on my absence from meetings or stand-ups.
                  li Working longer hours.
                  li Becoming forgetful.
                  li Not listening properly because my mind is on other things.
                  li Failing to prepare properly for things.
                  li Falling behind on things that were previously and routinely on track.
                  li Becoming far more reactive than pro-active.
                  li Misplaced and loss of focus.
                  li Abandoning my learning time.
                  li Wondering if anyone would even notice if I caught fire!
                  li Wondering why no one else seems stressed. (Usually they’re not.)
                  li Feeling tired because I’m not sleeping well.
              
              p
                | It eventually becomes very clear that things can’t go on out of control like this! 
              
              h2 How Did This Happen?

              p
                | You might say, “Who cares how it happened – just get out of it!” but if you do that you won’t
                | learn how to prevent it from happening again and therefore bad history will most likely repeat itself and
                | perhaps more frequently than you’d like and maybe you’ll never get out of it.

              p
                | So how exactly did this happen to me recently? I took some time to reflect and work it out.
              
              h2 20:20 Hindsight

              p
                | In hindsight I can see that a combination of things led to this situation:
                ol
                  li A large, complex project about to go live. 
                  li Two days absence to attend a conference.
                  li Mid-year performance review feedback time of year.
                  li Unplanned technical issues with both my cloud accounts.
                  li Under-estimating the size of a piece of work and volunteering to take it on.

              p
                | Ordinarily, I would have had the bandwidth and flexibility to cope with any one or two of
                | the above but when all of them happened at the same time I was overwhelmed, lost focus and plunged
                | out of control into “crazy busy”.

              h2 Free Solo And Too Helpful

              p
                | Another factor was that I was working in isolation (free solo) on 
                | a very large, distributed project where I frequently communicated with many people via calls but
                | who I never actually saw that often face-to-face (including some colleagues who I have never met
                | but who may be sitting opposite me).
                
              p
                | No one stopped me when I was too quick to volunteer on
                | a call and took on something that really needed to be a team of teams collaborative effort
                | to get it done quickly.
              
              p
                | Later, when I started to realise what I'd taken on, I thought I could just
                | throw some extra time at it and get it done. This mistake sank my battleship and left the door wide
                | open for "crazy busy" to flood in!

              h2 Simple Truths That Aid Recovery 

              p
                | Experience (some painful) and research have taught me the following simple truths:
                ul
                  li You can’t do everything and none of us multi-task well.
                  li Stress is mostly self-induced.
                  li No one is great at hitting deadlines when many people need to be consulted.
                  li Sometimes we get our estimates wrong.
                  li Sometimes we take on too much by wanting to be helpful.
                  li Not everything is urgent or important.
                  li We all need help and advice from others continually.

              h2 Stepping Out Of The Whirlwind

              p
                | Here’s how I‘ve learned to step out of the whirlwind of “crazy busy” to re-gain control of my work:
                ol
                  li
                    | Stop everything and find yourself somewhere quiet with a whiteboard where you won’t be disturbed
                    | and where you can start to visualise the current situation. 
                  li Who are your stakeholders? (Mind map style diagram)
                  li What does each stakeholder want/expect from you? (Commitments)
                  li What are the deadlines for each commitment? (Urgency)
                  li What is the impact of missing each deadline? (Importance)
                  li What is the remaining work for each commitment? (Effort)
                  li Who can help you with each of your commitments? (Help)
                  li On-board your boss and walk through your visualisation of the situation.
                  li If something is vague then seek clarification and re-negotiate the deadline.
                  li If something is impossible or not important then stop doing it and speak immediately to the stakeholder.
                  li If something is too big then get help from others and re-negotiate the deadline.

              p
                | Armed with an accurate view of your commitments, the remaining effort
                | for each, their importance and urgency categorised and having identified potential helpers, you should be able to
                | discuss the situation with your boss and then consult accordingly with your stakeholders in
                | order to agree and plan your priorities going forwards allowing you to regain control of your work.

              p
                span.badge.goldstrapline
                  | See Personal Learning Trick #06 
                |  
                a(href="../tricks/personal/06-learn-to-manage-your-time-well.html", title="Learn To Manage Your Time Well") Learn To Manage Your Time Well

              p.text-right
                b Tim Simpson
                br 
                | 31st May, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              p
                a.btn.btn-lg.btn-primary(href='beyond-training.html', role='button') Next Blog Post »
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
