doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='successful managers, staff development, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The vital role managers play in developing their staff and how a successful manager acts.")
    title How does a successful manager act to develop their staff?
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              section
                h2 Leading On Learning (Part 2)

                p
                  | During my research I stumbled across a useful PDF booklet published by the 
                  a(href="https://www.campaign-for-learning.org.uk", title="UK Campaign For Learning", target="_blank") UK Campaign For Learning
                  |  entitled “Leading on Learning”. In this post I have
                  | extracted the sections of the document regarding “How does a successful manager act?”
                  | and “Key steps to developing your staff” 
                  | which offer some great advice that I thought would
                  | be useful to share. 

                p
                  | You can download the full document for yourself at:
                  br
                  a(href="https://www.campaign-for-learning.org.uk/Handlers/Download.ashx?IDMF=2f2b1880-c053-4e19-aa37-0cc1b426f561", title="Campaign For Learning - Leading On Learning PDF Booklet", target="_blank") Campaign For Learning - Leading On Learning PDF Booklet

                h2 Summary: A Learning Culture Cannot Emerge Without Management Buy-In And Support

                p
                  | It's my personal belief that a learning culture cannot emerge without management buy-in due
                  | to the critical role that managers play every day in influencing their staff. If management
                  | aren't focused on developing people as part of their daily work then little people growth
                  | will occur. In the IT industry, which is dependent on learning even to stand still, failing
                  | to develop people will put an organisation firmly on the path to becoming obsolete.

                p
                  | If you are a manager or team leader, as you read the article below, treat it as a mirror.
                  | How do you measure up? Are you a successful manager in terms of building people and enabling
                  | them to develop? Hopefully, you also will find the advice about how to develop your staff useful too. 

                p.text-right
                  b Tim Simpson
                  br 
                  | 14th June, 2019
                  br 
                  span.badge.hashtag #LifeAtCapgemini

              section
                h1 How does a successful manager act to develop their staff?
                hr.featurette-divider

                h2 How does a successful manager act?

                p
                  | The successful manager who facilitates learning is one who can see the potential in their staff;
                  | they will listen well, give clear direction and crucially will make personal development easier
                  | to achieve for both themselves and those who work with them. 
                

                table.table.table-bordered
                  thead(style="background-color: steelblue;")
                    th Managers can:
                    th The result of all of this is that staff:
                  tbody(style="background-color: darkslategray;")
                    tr
                      td
                        | Enable learning
                      td
                        | Gain confidence
                    tr
                      td
                        | Offer opportunities for personal development
                      td
                        | Perform better
                    tr
                      td
                        | Maximise talent in their team
                      td
                        | Challenge themselves more often without being prompted
                    tr
                      td
                        | Help people to identify and achieve their own potential
                      td
                        | Are more interested in what is happening in the team and the organisation

                p
                  | The Campaign for Learning’s research shows that managers often neglect their role in
                  | enabling learning and skills because of the high number of performance related targets
                  | that they have to deal with and the day-to-day challenges that occur within the workplace.

                p
                  | However, if your staff are continually learning and developing, you will reach those
                  | targets more easily - learning brings benefits in itself but it is also a very effective
                  | means to an end.

                p
                  | The CMI (
                  a(href="https://www.managers.org.uk/", title="Chartered Management Institute", target="_blank") Chartered Management Institute
                  
                  | ) says good management is essential because it: 
                  ul
                    li Improves business performance 
                    li Improves employee performance 
                    li Makes people healthier and happier 
                    li Improves the survival rates of businesses 
                    li Improves society in terms of ethical and sustainable benefits

                h3 Your Role As A Manager

                p
                  | Your role as a manager can have a major impact on your staff’s willingness and ability
                  | to develop. You are able to influence through:
                  ul
                    li Performance development reviews 
                    li Induction activities 
                    li Identifying skills needs 
                    li Giving access to challenging work or job rotation 
                    li Coaching and guidance 
                    li Providing informal training programmes 
                    li Encouraging staff’s career development and promotion 
                    li Ensuring knowledge sharing 
                    li Holding ‘lessons learned’ sessions 
                    li Leading by example

                  p
                    span.badge.goldstrapline
                      | Fast Fact: 
                    |  43% of people think their manager is ineffective or highly ineffective, according to research by the CMI.

                h2 Key Steps To Developing Your Staff

                p
                  | There are two key elements to ensure effective and productive learning in the workplace - planning and evaluation. 

                h3 Planning 

                p
                  | As a manager, you will have targets that are part of the organisational business plan.
                  | In order to meet these targets you and your staff will need skills and knowledge you
                  | may or may not have. You will need to identify any gaps in skills and knowledge and
                  | then plan to help you schedule the necessary learning over the year and across your team,
                  | within the limits imposed by your organisation’s schedules. 

                p
                  | You may not be solely responsible for the learning and development of your staff, as
                  | there may be departments in your organisation that deal with this. However, you will
                  | be key in identifying learning needs, communicating these to relevant departments and
                  | giving staff time and support for their development. If your team understand how their
                  | development fits with the delivery of the business plan they will feel more comfortable
                  | about taking up relevant opportunities. This will help people see personal development
                  | as an expected part of performance management - and you will have a better idea of the
                  | budget needed.

                p
                  | Top tips for planning learning and development: 
                  ul
                    li
                      | Make sure you involve your staff in identifying and agreeing relevant training.
                      | This conversation is vital for buy-in. 
                    li
                      | Use the appraisal system to conduct a Training Needs Analysis. This will show
                      | you what skills and knowledge your team already have against what is needed to
                      | achieve next year’s objectives.
                    li
                      | If you have learning champions, Union Learning Representatives or Learning and
                      | Development experts, work with them as they may have access to more resources
                      | and expertise. 
                    li
                      | Be aware that people may prefer to learn in different ways. For instance, some
                      | people may prefer to listen and learn, others prefer to learn by doing and some
                      | prefer to learn visually and by reading or seeing diagrams. These preferences
                      | may alter over time and depend on the particular context. This means that if
                      | someone hasn’t succeeded in learning (in their school days or more recently) by
                      | one method, it doesn’t mean they can’t learn - trying a different method may
                      | change their experience completely. However, it’s important not simply to label
                      | people with a preferred learning style as this too can create a barrier to
                      | learning and discourage people from trying new ways of learning 
                    li
                      | Think about personality types and previous experiences when planning learning
                      | and development. Remember you are dealing with people who have feelings as well
                      | as skills and knowledge. The conversation with each person is key to understanding
                      | what makes them tick and what their attitudes to learning are.

                h3 Evaluation 

                p
                  | Once you’ve planned your team’s development and have given them the resources to learn,
                  | it is extremely important to measure afterwards how useful the activity was. It’s important
                  | that you understand what learning has taken place, how it will be used in the workplace and
                  | how much it costs, so you can plan for the future and make sure you get the best value out
                  | of all your learning and development.

                h4 Essential Steps For Evaluation 

                p
                  | You identified individual and group training needs at the start; now consider to what
                  | extent the activity met the identified training needs. 
                  ul
                    li
                      | Discuss with your staff what they got out of the activities, and to what extent
                      | their objectives as individuals were achieved. 
                    li
                      | Go on to discuss with staff how they will use what they’ve learned to improve
                      | the way that they work. This is crucial to ensure continued buy-in and identify
                      | what sorts of training are most useful for your organisation. 
                    li
                      | Measure the overall investment of time, money and resources that your staff put
                      | into learning and development. 
                    li
                      | Remember that learning and development includes inductions, presentations, shadowing,
                      | reading etc. as well as training. (There are at least 50 ways to learn other than
                      | attending training!) 
                    li
                      | Report outcomes to your managers and celebrate successes. This is essential to gain
                      | support for future learning and development. 
                    li
                      | Keeping records can help you find out which learning and development is effective
                      | and which isn’t.

                p
                  span.badge.greenstrapline Models 
                  |  There are a number of models you can use to structure your evaluation e.g. 
                  a(href="https://www.mindtools.com/pages/article/kirkpatrick.htm", title="the Kirkpatrick model", target="_blank") the Kirkpatrick model
                  |  can be used to measure the effectiveness of training and looks at four levels
                  | of evaluation – reaction, learning, behaviour and results. Another model is 
                  a(href="https://www.growthengineering.co.uk/70-20-10-model/", title="the 70:20:10 model", target="_blank") the 70:20:10 model
                  |.

                h3 Space To Reflect

                p
                  | Do you have an individual learning and development plan? 

                p
                  | What learning and development have you taken part in over the last year? 

                p
                  | Did you discuss how it related to your work before you took part in the learning and development activity? 

                p
                  | Did you discuss the impact of this with your line manager after the activity? 

                p
                  | How do you know that a development activity has an impact on how you perform your job? 
                
                p
                  | Have you ever been rewarded for taking part in learning and development? 

                p
                  | Think about the implications of your own learning experience for the learning and development of your team. 

                p
                  | Do you have regular discussions with your staff about learning and development? 
                
                p
                  | Do you relate these to business activities and objectives? 
                
                p
                  | Name one thing that you do to encourage staff to develop themselves. Think of one
                  | further thing you could also do in the future to ensure learning and development
                  | are always on the agenda.

                include ../includes/page_like_button.pug

                include ../includes/page_blog_navigate.pug
                +BLOG_NAVIGATE("crazy-busy.html","birmingham-meetup-18062019.html")

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
