doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='new possibilities, new solutions, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="xxx")
    title Opening New Doors To New Possibilities
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Opening New Doors To New Possibilities
              hr.featurette-divider

              h2 Recent Training

              p
                | This week I took a three-day training course on “Architecting for AWS”. Even though
                | I’ve been playing around with Cloud tech as a kind of background, slow-burn, learning
                | curve I jumped at the opportunity of a free place on a course and finally got some
                | official and formal AWS classroom training. It proved to be a helpful mix of theory
                | and hands-on practice in some pre-prepared lab scenarios.
              
              p
                | I enjoyed the experience and it was fun to hear what some of my colleagues on the
                | course had been getting up to putting the AWS technologies to work for different
                | customer accounts and projects. This was a big tick on my ToDo List. Yay! 😊

              p
                | This week I also finished off a few mandatory CBT modules (this time it was Cyber Security stuff)
                | that we get asked to do once in a while. I must admit these were certainly not as
                | interesting as the AWS training although they are important to our business and so
                | just as necessary. (They were a necessary tick on my ToDo List.)

              p
                | Needless to say, I learnt a lot this week.

              h2 Approximate Training

              p
                | Training about theory and the different technology choices available are just a
                | sample taste of the possibilities of how technologies might be combined and used
                | for constructing solutions.

              p
                | It’s necessary to know the detail behind the acronyms and an opportunity to get
                | hands-on can take you from “dipping your toe in”, to getting “knee deep” pretty
                | quickly but the actual SME level knowledge comes from going way past “what it
                | says on the tin” to joining all of the dots together to build a fully operable
                | solution where each component technology is known intimately (including its
                | limitations and perhaps “quirky” or exaggerated way of working).
                
              p
                | Not everything we get to pick up and use is necessarily fit for purpose or
                | truly production ready these days.

              h2 Possibilities And Opportunities

              p
                | To me, training is always about opening the doors to creative possibilities
                | and a great opportunity to ask relevant questions (of both instructors and
                | colleagues) but I don’t expect it to give me the deep subject knowledge that
                | comes only from long term exposure and the deliberate intent of making something
                | work as part of a solution.
                
              p
                | Deep knowledge often has a list of adjacent skills and knowledge that must
                | also be acquired in parallel.

              h2 Almost Production Ready

              p
                | Picking up and combining technologies is very quick and easy to do these days.
                | In fact, some would say it’s far too easy and almost misleading and that “the
                | devil is in the detail”. The drive to get something into live production can
                | often be tripped up by these “small details” but I won’t argue with the approach
                | of getting something started quickly and then rapidly iterating through an
                | improvement lifecycle – even if it means starting again downstream with a different
                | approach or different technologies.

              p
                | Learning technologies on the job can be fun but we never want to be in the
                | situation of saying “if we’d known then what we know now, we’d never have done
                | it that way!”. This is were having the right mindset to approaching new technology
                | adoption comes in.

              h2 Every Project Is Different

              p
                | One of the things I like about my job is that it is both creative and challenging.
                | No two projects are alike and learning comes from every project. I’ve lost count
                | of how many projects I’ve done over the years and the array of tools, technologies
                | and techniques I’ve used is vast. I’ve sure learnt a lot from doing it.

              h2 Show Me – Don’t Tell Me

              p
                | Experience has taught me that “proving” is a big and necessary part of solution
                | development. It’s one thing to string things together, it’s another to make them
                | secure, performant, operational, reliable, available, usable, cost efficient etc.
                | It’s a whole team effort which takes a certain mindset to achieve.
              
              p
                | The mindset is in recognising that building serious solutions is a marathon, not
                | a sprint. It’s knowing that just because something claims to do something useful
                | doesn’t mean that it will do it well.

              h2 The Challenge Remains The Same

              p
                | To me, the challenge remains the same. Come up with a solution: make it work,
                | do it on time, do it well.
                
              p
                | What’s different these days is how many choices we have at the start and how
                | great the expectations and demands are that are placed on us by our customers.

              p
                | If it was easy, it probably wouldn’t be worth doing! 😊

              p
                | Thankfully, training is always opening new doors to new possibilities …

              p.text-right
                b Tim Simpson
                br 
                | 11th July, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

                p
                  a.btn.btn-lg.btn-primary(href='continuous-curiosity.html', role='button') Next Blog Post »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
