doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='xxx, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Lean Thinking embraces the mantra 'out-learn the competition'. Do you see yourself doing that?")
    title Out-Learn The Competition
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Out-Learn The Competition
              hr.featurette-divider

              h2 Learning From Lean Thinking

              p
                | Lean Thinking embraces the mantra “out-learn the competition” and seeks to achieve this
                | by generating more useful knowledge and using and remembering it more effectively than
                | the competition.

              p
                | Do you see yourself and your organisation doing that?

              h2 Learning For Competitive Advantage

              p
                | To out-learn the competition, there must be identifiable ways of achieving competitive
                | advantage as well as some pre-requisites to achieving them. Here are just a few to consider:
                ul
                  li Making time for learning (both formal and informal) as part of everyday work.
                  li Recognising and capturing important details (facts, data, events, ideas) during work.
                  li Sharing learning frequently (including lessons learned, successes and failures).
                  li Making time for and conducting regular retrospective analysis to learn and improve.
                  li Challenging the status quo and allowing experimentation.
                  li Recognising and rewarding learning achievements.
              
              h2 Learning Short-Cuts

              p
                | Learning takes time so anything we can do to short-cut the learning curve is helpful. Avoiding
                | history repeating itself (by avoiding common mistakes and the pitfalls encountered by others)
                | is equally helpful. Now imagine scaling such learning across your team, department or organisation. 

              p
                | Your ability to communicate learning short-cuts efficiently could lead to competitive advantage!

              h2 Retrospectives Are For Learning And Sharing

              p
                | Retrospectives are actionable learning opportunities if enough time is allocated and people
                | come suitably prepared. Failure to reflect can miss blatant opportunities for learning and
                | improvement. Care must also be taken to avoid regular retrospectives becoming “tick box” events.

              p
                | Preparation for retrospectives shouldn’t just happen immediately before the event. It should
                | be an on-going activity throughout an iteration where metrics are observed and notes are taken
                | about significant events, facts, data or ideas as they occur. (You could use your learning
                | diary for that! 😊)

              p
                | Following discussion, where hopefully everyone had a chance to speak and be heard,
                | lessons learned and action items should be identified and the whole discussion captured.
                | Any lessons learned should be communicated. Some teams vote on which identified improvements
                | to action in order to avoid making too many changes going into the next iteration.

              p
                | Your ability to capture and share lessons learned could lead to competitive advantage!

              h2 Interactive Knowledge Sharing

              p
                | Knowledge sharing doesn’t have to be just about sharing knowledge – it can also be
                | interactive i.e. an opportunity for people to meet, ask questions and hear answers,
                | to share the pain, to celebrate and replicate the success, to obtain great advice,
                | to grow your social network and to gain respect for colleagues. 

              p
                | Your ability to cause your people to interact frequently (both formally or informally)
                | could lead to competitive advantage!
              
              h2 People, Coffee And Cake – A Recipe For Success

              img.img-thumbnail.img-responsive(src='/images/fika.jpg', alt='Fika - Coffee, cake and chat', title='Fika - Coffee, cake and chat')
              p
                | People interactions are powerful as they help to build “social capital”. I heard about
                | “Fika”, a Swedish term that basically means to “meet up, have a coffee, eat cake and
                | chit-chat”, and how research shows that it leads to improved happiness at work, reduced
                | stress and sickness, is the birth place of most ideas, as well as leading to increased
                | productivity. 

              p
                | Here’s a quote from someone who implemented Fika in their London office where the whole
                | company stops at 3:30 PM each day for coffee, cake and chat:
                quote 
                  | “The feedback from teams and managers alike has been nothing short of glowing. I don’t
                  | think I’m exaggerating when I say that since introducing fika we are a stronger, tighter,
                  | more efficient and above all - happier - team than ever before.”

              p
                | Your stopping for coffee and cake could generate ideas that lead to competitive advantage!
              
              p
                | Just noticed, it’s fika time. Mine's a large, skinny, cappuccino ...

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 2nd August, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

                p
                  a.btn.btn-lg.btn-primary(href='wanting-to-be-liked.html', role='button') Next Blog Post »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
