doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Technical Communities, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The Technical Communities initiative we used to share best practices and reduce learning curves on the journey of continuous learning.")
    title Overcoming Obstacles To Build A Learning Culture
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              section
                h2 Leading On Learning (Part 1)

                p
                  | During my research I stumbled across a useful PDF booklet published by the 
                  a(href="https://www.campaign-for-learning.org.uk", title="UK Campaign For Learning", target="_blank") UK Campaign For Learning
                  |  entitled “Leading on Learning”. In this post I have
                  | extracted (and slightly re-ordered or 
                  i [tweaked]
                  |) the sections of the document regarding “Overcoming Obstacles
                  | To Build A Learning Culture” which offer some great advice that I thought would
                  | be useful to share. In a later post I'll be covering some of the other useful advice.

                p
                  | You can download the full document for yourself at:
                  br
                  a(href="https://www.campaign-for-learning.org.uk/Handlers/Download.ashx?IDMF=2f2b1880-c053-4e19-aa37-0cc1b426f561", title="Campaign For Learning - Leading On Learning PDF Booklet", target="_blank") Campaign For Learning - Leading On Learning PDF Booklet

                h2 Summary: Culture Comes From The Top

                p
                  | There’s an important role for leaders to play in creating and endorsing a learning culture.
                  | Put simply: to see change adopted within a company, leaders must first endorse and start exhibiting
                  | the mindset and behaviours they’d like to see from those around them. The creation of a learning culture
                  | then benefits employee retention, motivation and productivity across the board.

                p.text-right
                  b Tim Simpson
                  br 
                  | 3rd May, 2019
                  br 
                  span.badge.hashtag #LifeAtCapgemini

              section
                h1 Overcoming Obstacles To Build A Learning Culture
                hr.featurette-divider

                p
                  | The challenges of the 21st century global economy require a workforce who are continually
                  | curious and keen to develop and learn. Some employees will be more motivated than others
                  | to meet this challenge.

                h2 Managers Have A Big Part To Play

                p
                  | Managers 
                  i
                    | [including team leaders]
                  |  have a big part to play in building a learning culture
                  | and linking the organisation’s most important assets, its people, to its goals and objectives.
                  | The organisation’s future success is directly linked to staff development and capability.

                p
                  | Building a learning culture requires the creation of an environment where learning and
                  | development are respected, supported and expected and where the benefits to the individual
                  | are made open and clear. It’s not something that can be left to individuals to just do for
                  | themselves 
                  i
                    |[although there is a tendency to rely on this happening!]
                  |.

                p
                  | Through strong leadership and small changes, obstacles can be overcome to build a learning culture.

                h2 Talk About People’s Development – Often

                p
                  | Open communication between manager and staff is the key to a productive working relationship. This
                  | includes discussing skills, knowledge and areas for further development. Have a conversation with
                  | staff before and after development activities. Make sure you always present any sort of development
                  | in a positive light, as an opportunity for the individual and the team, rather than as something to
                  | remedy a problem or something imposed by senior management.

                h2 Recognise And Validate Staff’s Learning And Development

                p
                  | Positive behaviour (in this case, continuous learning) is strengthened through acknowledgement and
                  | praise. When you notice how someone has improved as a result of a specific development opportunity
                  | – tell him or her and make it explicit how the improvement links back to the learning.

                h2 Leaders Must “Walk The Talk”

                p
                  | Leaders must consider their own development needs and take action. When people see that personal
                  | development is important to all levels and job roles within an organisation they will be more
                  | likely to engage in it themselves.

                h2 Nominate A Champion 

                p
                  | Learning champions 
                  i
                    |[I’m one]
                  |  are people in the workplace who promote learning and development to
                  | their peers. Ask a member of staff who is interested in Learning and Development or has benefitted
                  | from it recently – there will always be at least one! Communicating the benefits or learning
                  | through word of mouth and personal experiences is very powerful.

                h2 Build A Common Language

                p
                  | Have a clear understanding of the difference between learning and training. Your team need to know
                  | that training is one of the many ways to learn and that learning is taking place every day in all
                  | sorts of formal and informal ways. 

                h2 Explain why 

                p
                  | If you ask your team members to attend training, they need to understand why they need that particular
                  | skill / knowledge and how it will benefit them. After they have done the training, they need early
                  | opportunities to put it into practice or many of the benefits may be lost. 

                h2 Tasters 

                p
                  | If you have reluctant learners, think about using fun and bite-sized learning that is not directly
                  | related to work (e.g. holiday Spanish) to get them engaged. Research shows that a positive learning
                  | experience is a key motivator to continue learning. 

                h2 Use What You Do Already 

                p
                  | You can also enable learning that doesn’t rely on time and money by using what you do currently on
                  | a day-to-day basis to create a learning environment:
                  ul
                    li What activities and events already exist that you can use more productively?
                    li Identify some of your key partners / external relationships that you could approach to share learning.
                    li Identify current areas of good practice that you can build on.
                    li Use team meetings and away-days for brain storming, creative thinking or team quizzes.
                    li Use one-to-one meetings to discuss what staff might have learned from the previous week’s work or current project.
                    li Always use appraisal meetings to discuss learning and development planning.

                h2 Build On Relationships

                p
                  | Once a month, invite one of your partners or stakeholders to give a presentation and question and
                  | answer session at work. You may only need to spend the cost of tea and coffee. Set up shadowing
                  | partnerships where staff can learn from each other. This can lead to better understanding of what
                  | other employees do and result in more productive joint working. 
                  i
                    | [We do this every day through our departmental daily stand-up run by a different team each day.]

                h2 Encourage Staff Input 

                p
                  | Following development opportunities, ask staff to write a short paragraph listing the best thing
                  | about the course, the most important thing that they’ve learned already and whether they would
                  | recommend the experience to others. Ask people to share the key things they have learned at team
                  | meetings.

                h2 It’s Basically All About Getting People Engaged And Enthused

                p
                  | A learning culture doesn’t happen overnight but your actions and attitude will make a huge
                  | difference to how learning and development is perceived. 
                
                p
                  | To engage with your staff really
                  | effectively, remember to: 

                h3 Give People Choice 

                p
                  | People have different learning preferences, rates of learning and areas of interest. Why
                  | restrict people’s learning and development to their job skills? Help them learn and develop
                  | in areas that they will find interesting and they will quite naturally become more positive,
                  | productive and valuable to your organisation. Offer relevant learning in as many ways as you
                  | can. 

                h3 Focus On Learning, Not Training 

                p
                  | Talk about learning rather than courses. People respond to appropriate learning because:
                  ul
                    li It benefits and interests them.
                    li It helps them to grow and to develop their natural abilities.
                    li It helps them to make a difference.
                    li It helps them to feel good about themselves and their work.

                p
                  | Learning describes a person growing, whereas training describes and commonly represents
                  | a transfer of knowledge or skill for organisational gain. Point out how learning takes
                  | place naturally as part of people working together e.g. someone showing a colleague a
                  | shortcut on the computer or a quicker way to complete a process. Learning and development
                  | is key to effective and motivated staff. It’s also key to you as a manager being effective
                  | and motivated. Learning should be fun, fulfilling and shared.

                h2 Building A Learning Culture "To Do" List

                p
                  | To do:
                  ul
                    li Ask your learning and development manager to run L&amp;D drop-in sessions.
                    li Run regular presentations and coffee mornings.
                    li Organise staff days which include L&amp;D sessions.
                    li Use existing meetings, one-to-ones, appraisals, team meetings etc. for learning and sharing.
                    li Use your stakeholders and partners for quick presentations and question and answer sessions.
                    li Ask your line managers to publicise their own learning courses / what they do. 
                    li Ask staff to share their learning.
                    li Be really careful about what learning is / means and includes.
                    li Develop a network of learning champions. 
                    li Publicise and promote development opportunities in a regular and consistent format.
                    li Create an environment of trust – people are rewarded for trying.
                    li Promote knowledge sharing as an expectation not a bonus. 

                include ../includes/page_like_button.pug

                p
                  a.btn.btn-lg.btn-primary(href='pluralsight-live-europe-2019.html', role='button') Next Blog Post »
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
