doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Pluralsight, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The Technical Communities initiative we used to share best practices and reduce learning curves on the journey of continuous learning.")
    title Pluralsight Live Europe 2019
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    //
      Non-standard header
      ==================================================
    .container
      .headerblock2.hidden-sm.hidden-xs
        .logoverse
          p(style="color: fuchsia;")
            | Proving that you can teach an old dog new tricks.
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-9
          h1 Pluralsight Live Europe 2019 
          hr.featurette-divider

          h2
            | The Event 
            span.badge.hashtag #PSLIVE19

          p
            | The event was held on 13-14 May, 2019 at Park Plaza, London Riverbank. The sun was shining.

          h2 Expectations

          p
            | I'll admit that I was desperate to attend this conference and a bad cold the previous week
            | was not going to stop me getting there, even if I had to cough my way through it (sorry folks).

          p
            | I really needed to re-align and
            | re-energise my thinking so that I could bring home the bacon to our Digital Delivery Group (DDG) 
            | and keep up the drive to fully embrace continuous learning and establish that elusive "learning culture".

          p
            | Over and over in my DDG Capabilities Lead role I have to remind myself that I can't be successful
            | on my own and so this was going to be a major opportunity to reach out to others for help. Whatever
            | help or expertise might be on offer, I was ready to receive it and a "truck load" would not be a problem!
          
          P
            | I really wanted to know what people had tried and whether it worked (or was working) or not.

          h2 Sessions I Attended

          p
            | There were others but I attended the following sessions:
            ul
              li Workshop: Aligning Skill Development with Real Business Goals
              li Workshop: The Path to Skills: Engagement on the Pluralsight Platform
              li General Session + Keynote from Pluralsight founder Aaron Skonnard
              li Breakout: More than the sum our skills
              li Breakout: Best practices for improving tech skills across your organisation
              li Breakout: Digital Transformation &amp; Other Dangerous Buzzwords

          p
            | The last session was "mandatory" for me as I work in a department called the
            | "Digital Transformation Centre" and have done a fair few of "them" in my time.
            | Great presentation by 
            a(href='https://twitter.com/digital_lindsay', title="@digital_lindsay", target="_blank") @digital_lindsay
            |.

          p
            | I also browsed the cloud technology booths and spent a fair while "ear wigging" on different people groups
            | as they asked their questions and received various demonstrations of the Pluralsight tools from
            | the resident Pluralsight gurus. Very informative and helpful.

          h2 Benefits Of Attending

          h3 We Are Not Alone And Help Is Out There

          p
            | A major benefit for me was reinforcement of the notion that we are not alone in facing the significant
            | challenges of seeking to build a learning culture. There
            | are plenty of others striving for that too and finding it equally as difficult (though not impossible).
            | But there are also
            | people out there who want to help and they have tools and expertise to share. Yay!

          p
            | Guest speaker Ben Hammersley put it well in saying "it's an infinite game where you never really win
            | but just aim to keep playing as long as you can". (We intend to win and we don't intend to take 
            | forever to achieve it although Ben may still have the last laugh.)

          h3 Cloud Skills

          p
            | All things "Cloud" is a big part of our strategy so it was good to see the major cloud vendors at
            | their booths and working in close 
            | alliance with Pluralsight making course content available and promising more. (Sure there are other
            | things we are interested in too but "cloud" is #1.)

          h3 Competition Aside

          P
            | Throughout the conference, corporate competition was put aside for the greater good of everyone
            | wanting to learn more about being successful at helping others to learn. There was 
            | an openness amongst attendees of sharing what had been tried, what worked and what didn't and I
            | listened hard and wrote loads of notes which I plan to sift through and thoroughly digest.

          h3 Key Learning

          p
            | Before I sift and thoroughly digest my notes, here's a summary of my key learning from the conference:
            ul
              li Pluralsight remains a mighty tool in the toolbox and is getting even better.
              li Skills projects are projects too! Treat them likewise.
              li Learning curves never arrive individually. All skills have adjacent skills.
              li Change comes more from managing the journey than announcing the destination.
              li Technical skills are strategic. Every company is now a "Tech company".
              li
                | The 
                a(href="https://www.pluralsight.com/tech-index", title="Pluralsight Technology Index", target="_blank") Pluralsight Technology Index
                |  can help with your technical skills strategy.
              li Have a roadmap. (Pluralsight call it a "success plan". Like it!)
              li Agreements are better than expectations.
              li Protected learning time works.
              li Easy access to learning is key.
              li Pluralsight can now help measure role qualification level with roleIQ.
              li Pluralsight can help identify skill gaps.
              li Technology, society and culture are all inter-related. Changing one changes the other.
              li Start meetings with learnings.

          h3 Future Roadmap

          p
            | Before leaving the event we met briefly with our Customer Success Manager and enthusiastically agreed we had
            | a lot of work to do together
            | if we were to come back next year with an awesome success story. (That's our plan and we've penned
            | a fair few words already!) 

          h3 Nostalgic Moment

          p
            | My first encounter with Pluralsight was back in 2009 when two of my best developers shocked me by
            | announcing that they had each personally (not Capgemini) spent what seemed like an extortionate amount
            | of money for a Pluralsight license. They showed me what they were studying and I was in awe. We birthed
            | our 
            a(href="continuous-learning-initiatives-learning-vehicles.html#cinema", title="Learning Cinema") "Learning Cinema"
            |  concept on watching content together as a team. Very powerful back then, equally so today.

          P
            | Pluralsight was a great product then and it's way better today. It's part of the toolbox for me
            | and so glad that Capgemini and many more agree. The two developers who shared it with me back then
            | are "10X" developers and still at the top of their game a decade later and still using Pluralsight.
            | (No names because you would try to recruit them.) 

          p 
            | The 
            a(href="https://www.pluralsight.com/tech-index", title="Pluralsight Technology Index", target="_blank") Pluralsight Technology Index
            |  is also a great tool (check out their methodology - seems pretty sound to me)
            | and I'm sure will help you with your technology skills strategy.

          P
            | Looking forward to putting some of my learning to work ... stay tuned.

          p.text-right
            b Tim Simpson
            br 
            | 17th May, 2019
            br 
            span.badge.hashtag #LifeAtCapgemini

          p
            a.btn.btn-lg.btn-primary(href='crazy-busy.html', role='button') Next Blog Post »
          
        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .rightsidebar
            // <rightsidebar>
            h3 See Also

            h4 
              a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
            p
              | Hints and tips to help with personal and corporate learning.  

            h4 
              a(href="prologue.html", title="Prologue") Prologue
            p
              | About me, who I work for and how this blog came about.  

            h4 
              a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
            p
              | The biggest problem facing the IT industry today, namely continuous learning.  

            h4 
              a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
            p
              | Formulating the approach to rise up and attack the continuous learning dilemma.
              | Introduction to the continuous learning spectrum.
          // </rightsidebar>
      // /row
    // /container
    include ../includes/page_footer.pug
