doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Rising to the challenge of the biggest problem facing the IT industry today, namely continuous learning.")
    title Rising To The Challenge Of Continuous Learning
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Rising To The Challenge Of Continuous Learning
              hr.featurette-divider

              h2 The Continuous Learning Dilemma - It's Real!
              p
                | Last week I described “The Continuous Learning Dilemma” that I believe all of us as IT people
                | and organisations are facing. I don’t believe it’s a small challenge, neither do I believe it’s
                | going away any time soon. It’s a challenge we all must face and overcome if we are to be
                | successful as individuals, teams and organisations.

              p
                | Some people would say it’s not so much a challenge as an opportunity!
                | If IT was “easy” anybody could do it. In reality it's an infinite game i.e. we never really win,
                | we just aim to stay playing!
              
              p
                | At Capgemini we welcome this challenge as an opportunity to demonstrate our breadth of knowledge
                | and technical dexterity.

              h3 Out Of My Comfort Zone

              p
                | In my role as Capabilities Lead within the Digital Delivery Group (DDG) a couple of things take
                | me out of my comfort zone. One is building my people network, the other is the battle for hearts
                | and minds. These aren’t strengths for me but I’m happy to learn as well as ride on the coat-tails
                | of others, especially when they offer to extend my network into the wider Capgemini (200K+
                | people) and beyond.

              h3 Collaboration Required

              p
                | None of the challenges we take on at Capgemini can ever be considered small enough for just one
                | person to deal with and so team effort and collaboration with others is a must. The challenge of
                | the continuous learning dilemma is no different – in fact it’s going to take the brains of the
                | whole IT industry (and then some) to solve this one! Fortunately, collaborative working is a
                | means of putting your own limitations behind you and playing to your strengths and those of others.

              h3 Choosing An Approach

              p
                img#mugshot.img-thumbnail.img-responsive(src='../images/plates-spinning.jpg', alt='Spinning Plates', title='Spinning Plates')
                | The approach to this challenge must be agile (in order to get feedback fast, learn and adapt)
                | and multi-threaded because success will be through multiple people and ideas running in parallel.
                | The approach also has to generate metrics that will help us. It will be like “spinning plates”.
                | Effort will be needed to keep plates spinning and to spin up new ones. Some plates will
                | inevitably get broken along the way – maybe we won’t count those, just learn from them.

              p
                | I know that I can’t expect to do this role well without working with and through a network of
                | people and that I also need to “take people with me” along the way. (This means finding people
                | willing to keep plates spinning for me.)

              p
                | My background thread is “Continuous Research” where I periodically research (usually daily for
                | a few minutes making notes of keywords and useful links) in order to learn from the best around
                | the world. Thankyou Internet.

              h3 The Battle For Hearts and Minds

              p
                | Winning hearts and minds is just plain hard to me. The necessity and benefits of making learning
                | part of the day job seem obvious to me and I can’t always understand why others don’t see that.

              p
                | Selling is clearly a skill in it’s own right. I swear that if there were no people involved,
                | doing IT would be a doddle!

              p
                | It took me a while to learn and accept that people are motivated by different priorities and so
                | the same “sales pitch” isn’t appropriate for all customers. For managers it is often about
                | hitting budgets and deadlines ahead of anything else to please our customers (and our accountants)
                | which doesn’t always align with the company mantra “People matter, results count”. Fortunately not
                | everyone is short-sighted. (I’m literally long-sighted. 😊)

              h2 The Continuous Learning Spectrum

              p
                | In my experience, people generally fall into one of the following continuous learning categories:

              table.table.table-bordered
                thead(style="background-color: steelblue;")
                  th(colspan="2") Learning State
                  th Description
                  th
                    .text-center
                      | Convinced
                      br
                      | %
                  th Blockers
                  th Motivation
                tbody(style="background-color: darkslategray;")
                  tr
                    td
                      .text-center 1
                    td
                      | Continuous
                    td
                      b Trail Blazers
                      br
                      | Typically, self-motivated and self-directed, taking advantage of all facilities and learning continually.
                    td
                      .text-center
                        | 100%
                        br
                        | Totally
                    td
                      | None
                    td
                      | Direction only.
                  tr
                    td
                      .text-center 2
                    td
                      | Occasional
                    td
                      b Well-Intentioned Majority
                      br
                      | Plenty of good intentions in this space but lacking regular commitment.
                      | Take advantage of some new facilities.
                    td
                      .text-center
                        | 75%
                        br
                        | Reasonably
                    td
                      | Time.
                      br
                      | Work priorities.
                    td
                      | Direction and some encouragement required.
                  tr
                    td
                      .text-center 3
                    td
                      | Ad Hoc
                    td
                      b Partially Convinced
                      br
                      | Tend to pursue learning only when pressed. Do not make time to learn or take
                      | advantage of facilities.
                    td
                      .text-center
                        | 25%
                        br
                        | Partially
                    td
                      | Time.
                      br
                      | Work priorities.
                    td
                      | Regular direction and encouragement required.
                  tr
                    td
                      .text-center 4
                    td
                      | Hardly
                    td
                      b Not Convinced
                      br
                      | Many in this space are simply not convinced that they need to learn anything in order
                      | to be successful right now and so don’t make time to learn by design.
                    td
                      .text-center
                        | 0%
                        br
                        | Not
                        br
                        | (by design)
                    td
                      | Work priorities.
                    td
                      | Top-down management prioritisation required.
                  tr
                    td
                      .text-center 5
                    td
                      | Minimal
                    td
                      b Minimalist Minority
                      br
                      | Plenty of excuses (some good) abound in this space - the main one is being too
                      | busy. There is evidence of resistance to change and maybe even some apathy.
                    td
                      .text-center
                        | 0%
                        br
                        | Not
                    td
                      | Time.
                      br
                      | Work priorities.
                      br
                      | Change.
                      br
                      | Apathy.
                    td
                      | Management intervention required.

              h2 The Continuous Learning Spectrum - Theory or Reality?

              p
                | If the above spectrum is true, the questions that immediately arise include what percentage of people
                | currently fit into each category and how can we move the sliders to shift people between categories to
                | achieve the optimal numbers we desire? Categorisation is only a theory until you have a means of
                | applying it to generate metrics. (We’ll look deeper into this in a future post.)

              h3 1)	The Trail Blazers

              p
                | Some people (Google call them “learning animals”) are already there with continuous learning
                | and they’re so busy loving learning new stuff in new ways and applying it in their work that
                | they don’t even look backwards to see the others they’ve left behind! I need to throw a rope
                | around these guys and work out how to get them dragging others with them.

              p
                | These people are often less in number and in high demand. They are candidates for coaching,
                | knowledge sharing and involvement in community activities if they are not already doing so.
                | These are some of the people we’d really like to clone. (Ultimately we’d like everyone in
                | this category – job done.)

              h3 2)	The Well-Intentioned Majority

              p
                | Most people relate reasonably well to the necessity to learn new skills and are
                | well-intentioned about learning. However, many suffer from sub-optimal time management skills
                | coupled with a strong desire (and project pressure) to delight the customer which both
                | inevitably impact commitment to learning. Don’t get me wrong, I’m not saying that learning is
                | more important than delighting customers but what I am saying is that learning is essential
                | to delighting customers and so getting the balance right in terms of how we manage our time
                | is extremely important.

              p
                | These guys need direction as well as help managing their time and support and encouragement
                | from managers for learning.

              h3 3)	The Partially Convinced

              p
                | Here the battle for hearts and minds is still being fought or yet to be fought. The “What’s
                | in it for me?” question has not been suitably answered. Here the learning approach is a
                | little “ad hoc” and more a response to pressure. New ways of learning attract minimal levels
                | of interest unless provoked. Another form of motivation is required here.

              h3 4)	The Not Convinced

              p
                | Here the battle for hearts and minds has been lost. The value-proposition answer to the
                | “What’s in it for me?” question did not align at all with the motivations / priorities of
                | these people. Continuous learning is perceived to be an anti-pattern that may hinder
                | delivering on time and to budget and is simply not necessary for personal success right
                | now. Only leadership direction can change this position.

              h3 5) The Minimalist Minority

              p
                | Some will say that people who don’t want to learn new things or who resist change
                | shouldn’t be working in the IT industry where change is constant. That’s not a helpful
                | viewpoint when such people are talented and performing significant roles that they enjoy
                | but which dominate their time – including their learning time. They may also be generating
                | significant revenue for the business in doing so. (Don’t you just love this dilemma?!)

              p
                | There is also a minority who resist change or are apathetic. Management intervention is
                | required here. (Such people leave me wondering if even dynamite would make a difference!
                | 😊 However, we are not planning on leaving anyone behind.)

              h2 Building People

              p
                | In any large organisation you can sometimes feel like a small wheel with a number in a big
                | machine where managing your career is your problem. However, my role as DDG Capabilities
                | Lead is to “build people” which is a Lean Thinking concept that I greatly admire and strive
                | to achieve each day. Another Lean Thinking concept is “challenging the status quo” and I
                | seek to do that each day too.

              h3 "T-Shaped" People

              p
                | At Capgemini we like people to be “T-shaped” in terms of their knowledge and skills i.e.
                | to have both breadth and depth: breadth in many things and depth in a few. We encourage
                | people to have their own areas of interest and to know what they want to be “famous” for.

              h3 "Pi-Shaped" People

              p
                | I recently saw a description of "Pi-shaped (&pi;)" people who had "two deep skills" as opposed
                | to the "one very deep skill" of "T-shaped" people. This seems unrealistic to me as it's so rare
                | for people to have or need just one or two deep skills when most skills have many closely 
                | related (adjacent) skills so there is rarely a single learning curve.
                | I'm also not really able to grasp the difference between "deep" and "very deep" skills. 

              h2 Initiatives

              p
                | To instigate my multi-threaded ambitions, I set about launching the following initiatives
                | which I’ll describe in more detail in coming posts:

              ul
                li 
                  a(href="continuous-learning-initiatives-learning-vehicles.html", title="Learning Vehicles") Learning Vehicles
                li Wall of Champions
                li 
                  a(href="continuous-learning-initiatives-technical-communities.html", title="Technical Communities") Technical Communities
                li Team Health Check
                li Gamification

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 12th April, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              p
                a.btn.btn-lg.btn-primary(href='continuous-learning-initiatives-learning-vehicles.html', role='button') Next Blog Post »
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
