doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='people classification, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="Starters and finishers are essential people types to have in your organisation.")
    title Starters And Finishers
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Starters And Finishers
              hr.featurette-divider

              h2 Amazing People Classified

              p
                | Over the years I’ve had the privilege of working with many amazing people and very much
                | still enjoy doing so every day. They inspire me, not only with their dexterity and
                | creativity but also with their resolve to get something working or to finish it to a
                | high standard. 

              p
                | Over the years I’ve also noticed that these amazing people often fall distinctly into
                | one of two categories, namely that of either “starters” or “finishers”. 

              p
                | I’ve discovered it’s a mindset thing, not related to age or gender.

              h2 Each Completes The Other

              p
                | Starters tend to be the kind of people who like a new challenge and easily get bored
                | doing the same thing over and over, whereas finishers like to master something and then
                | repeat their success. 

              p
                | Starters welcome and adjust easily to change, whereas finishers take a while to adjust
                | to it. However, in the IT industry, neither starter nor finisher can be fully successful
                | without the other. Both are equally necessary to get the job done.

              p
                | It’s a bit like saying the starter “goes looking for and hooks the fish” and the finisher
                | “lands it”.

              p
                | These pairings and relationships often exist across lots of distinct roles in the
                | development life cycle. For example, someone identifies what is required whilst someone
                | else designs the solution, someone constructs a product whilst someone else proves it
                | meets the requirements etc.

              h2 Distinct Learning Advantage

              p
                | When it comes to learning something new, it seems to me that starters have a distinct
                | advantage. They relish the opportunity and approach it with enthusiasm, sleeves rolled
                | up and ready to jump in with both feet, itching to get hands-on. 

              p
                | Finishers tend to be much more cautious and reserved about learning something new, wondering
                | just how big a challenge they are about to take on. 

              h2 Different Expectations

              p
                | Starters don’t expect to understand everything. Neither are they afraid of leaving “rough
                | edges” or doing something in an imperfect way, they know that they haven’t been that way
                | before and so can’t be expected to get everything totally right first time. In fact, they
                | believe it’s never really been their job to get things totally right – that’s what finishers
                | are for. 

              p
                | Finishers want to understand every nook and cranny and are looking for the exact detail,
                | seeking perfection in what they do. They are frustrated by not yet fully understanding or
                | knowing how to achieve a thing and by being temporarily forced to enter the hunting grounds
                | of the starters. For them, things don’t always “just click” like it seems to for the starters.

              h2 Fish Out Of Water

              p
                | Finishers soon become “fish out of water” when left to their own devices to learn something
                | significant because unless the learning comes quickly and easily, finishers soon become
                | overwhelmed by a lack of success and their seemingly poor understanding and productivity.
                | They somehow think they should be “flying the helicopter solo by the end of the first lesson”
                | which is never going to happen (aside from The Matrix)!

              h2 Different Approach Needed

              p
                | It strikes me that finishers need a much more gradual approach to learning, almost in
                | slow-motion compared to the starters, with lots of watching demonstrations, asking questions
                | and hand-holding when it comes to learning by hands-on doing stuff. 

              p
                | You could also think of it this way: while the starters are putting on the harnesses and
                | ready to do the bungee jump at the drop of a hat, the finishers are more than happy to just
                | sit back, watch and ask questions afterwards. Starters and finishers really are poles apart!

              img.img-thumbnail.img-responsive(src='../images/bunjee-jump.jpg', alt='Bunjee Jump', title='Bunjee Jump')
 
              h2 Change Agents And Perfectionists

              p
                | A finisher will always (albeit eventually) perfect a greater depth of knowledge and expertise
                | in a given subject compared to a starter but it’s the starters that get the ball rolling
                | – they are the agents that bring in change to the benefit of all. They give the perfectionists
                | something to perfect, even if it sometimes means dragging them backwards through hedges to get there.

              p
                | In today’s world of IT, no one can avoid change. It’s a given that change is inevitable and
                | therefore unavoidable. Those organisations able to recognise and embrace change to gain competitive
                | advantage will most likely be those able to balance the juxtaposition of their starters (change
                | agents) and finishers (perfectionists) by enabling them to purse learning at their own pace and depth.

              p
                | Are you ready to jump? Or just watch.

              p
                | PS In truth, I’m a finisher. Hats off to the starters. No fear! 😊

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 23rd August, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("almost-likable.html","arriving-at-destination-on-cloud.html")

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
              // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
