doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous learning dilemma, learning culture, constant learning, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks, Life at Capgemini')
    meta(name='description', content="The biggest problem facing the IT industry today, namely the continuous learning dilemma.")
    title The Continuous Learning Dilemma - The biggest problem facing the IT Industry today.
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/site.css', rel='stylesheet')
    //Google analytics
    include ../includes/google-analytics.pug
  body()
    include ../includes/page_menu.pug
    include ../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 The Continuous Learning Dilemma
              hr.featurette-divider

              h2 The Continuous Learning Dilemma - A Definition
              p
                | The name sake of this blog is “The Continuous Learning Dilemma” so it’s time to explain what
                | I mean by this but first a little background to set the scene.

              h3 Simpler Days Gone By

              p
                | For those of us with a history, the tools, technologies and techniques that we use today are
                | vastly different from those that we used in the past. Our ways of working (thankfully?) have
                | changed significantly over time and there’s no way we would contemplate going back to how we
                | once worked.

              h3#permanentchange Permanent Change

              p
                | Today, nothing is permanent in the IT industry except change. This change is largely driven
                | by continuous innovation in both hardware and software technologies which drive new business
                | opportunities and new ways of working. Changes in legislation also drive change too.

              h3 The Accelerating Rate Of Change
              p
                | The domain in which you work will determine the rate at which things are changing in your
                | workplace and for your customers. Most of us recognise that the rate of change is accelerating.

              h3 More Things Commanding Our Attention
              p
                | Demands for our attention now come from more sources than ever along with the expectation
                | that we’ll respond quicker than ever. The frequency of these demands is increasing too.
                | We’re also told to share more than ever. (I’m personally not a fan of social media but it has
                | it’s place and now I’m part of it.)

              h3 So (Too) Many Choices
              p
                | It’s almost a curse on the IT industry that the choice of tools, technologies and techniques
                | is so vast and ever growing, even to a point of overwhelm. Those crazy not-so-obvious or
                | not-so-memorable names given to open source projects, products and services don’t help much
                | either. (Wikipedia/Google here I come.)

              h3 Point Of View
              p
                | It’s getting harder to find someone who’ll actually commit to saying “you should use x”
                | rather than the usual “you could use x, y or z”. (Customers look to Capgemini to help make
                | those hard choices based on our experience and to obtain a sound rationale from a trusted
                | partner in tune with their business.)

              h3 Great Expectations (Demands)
              p
                | Today’s expectations for a given solution are often far greater than they were in the past.
                | In fact, these are no longer expectations but rather demands and taken for granted. Making
                | something “future-proof” is also an expectation!

              h3 Multiple Learning Curves
              p
                | Embracing any new tool, technology or technique can be a big departure from what we are
                | used to and therefore can impose a significant learning curve. To add to the challenge we
                | are often forced to embrace more than one change at a time.

              p
                | Embracing change as part of a project can put productivity and quality at risk if
                | insufficient training, coaching or time has been allocated. Project deadlines may also
                | be put in jeopardy.

              h2 Continuous Learning - A Must
              p
                | As a result of permanent change, the accelerating rate of change, more things commanding
                | our attention, so (too) many choices, great expectations (demands) from our customers and
                | growing learning curves there is now a demand on IT people to continuously learn and improve
                | their skills. This means learning must become a part of our daily work commitment rather
                | than an occasional planned activity.

              h3#individualdilemma The Personal Learning Dilemma
              p
                | So here’s the personal learning dilemma that IT people face every day regarding continuous learning:
                ul
                  li What should I learn?
                  li How can I make time to learn?
                  li How can I learn quickly, efficiently and effectively?
                  li How can I stay up-to-date?
                  li How can I still do the day job?
                  li How can I have a life?
                  li Where do I start?!

              h3#corporatedilemma The Corporate Learning Dilemma
              p
                | The continuous learning dilemma isn’t limited to just stressing individuals - it’s
                | also a dilemma at corporate level too:
                ul
                  li What do we need our people to learn?
                  li What do our people already know?
                  li Where are the gaps in our knowledge?
                  li How can we make time for people to learn?
                  li How do we get people to learn?
                  li How can we achieve just-in-time learning?
                  li How can we provide career paths for a growing array of industry recognised roles?
                  li How do we reduce learning curves?
                  li How do we get people to share knowledge?
                  li How can we clone our best people?
                  li How can we measure our progress?
                  li What about the growing digital skills gap?
                  li Can an old dog even learn new tricks?
                  li Where do we start?!

              h2 Rising To The Challenge
              p
                | Sorry if what you just read gave you a headache but others have the same problems too. Future posts will
                | share some of the learning we’ve gained (and experiments we’ve tried along the way) to climb this mountain.
                | At Capgemini, we like a challenge! 

              include ../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 5th April, 2019
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("prologue.html","rising-to-the-challenge-of-continuous-learning.html")
            
          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also

                h4 
                  a(href="../tricks/old-dog-new-tricks.html" title="Old Dog New Tricks") Old Dog New Tricks 
                p
                  | Hints and tips to help with personal and corporate learning.  

                h4 
                  a(href="prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../includes/page_footer.pug
    include ../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
