doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks')
    meta(name='description', content="Make time available to your staff to enable corporate learning.")
    title Technical Skills Are Strategic
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #01 Technical Skills Are Strategic
              hr.featurette-divider

              h2 Every Company Is Now A "Tech Company"

              p
                | Today, almost every organisation uses technology to drive its business.
                | Technical skills are now recognised as strategic in value and key to future success.
                | What differentiates companies is their business agility based on their ability to
                | learn and embrace new skills in order to innovate.

              h2 Skills Half-Life

              p
                | Many skills are short-lived or highly volatile with an estimated half-life of two years. This means that employees
                | will no sooner have learned and mastered a skill then they will be forced to learn a new one or update their knowledge. 

              h2 The Growing Digital Skills Gap

              p
                | In the past it was far easier to hire in new talent to plug organisational skills gaps but the rate
                | of change has led to a digital skills shortage forcing organisations to invest and grow their own talent.
                | Internal talent growth requires continued commitment to learning over a long period of time and
                | many organisations are finding themselves with a skills deficit.

              h2 Skills Projects

              p
                | Skills projects are projects in their own right and therefore deserve to be treated as such. Without a
                | a clear strategy and review milestones, Skills Projects are unlikely to deliver. You can't rely on the
                | mentality that "if we announce it, it will happen". Instead you must plan and manage the journey and
                | course correct from time to time as necessary. This must happen at all levels within the organisation.

              h2 No Replacement For Lack Of Strategy

              p
                | It is essential for an organisation to determine and communicate it's strategy if skills acquisition
                | is to be linked to and driven by business goals. This is true regardless of how long term the strategy is.
                | It must also be possible to measure progress and achievements along the way if course corrections
                | are to be identified and made en route.

              p
                | Having a strategy is a great way of gaining buy-in from your staff to accommodate the changes necessary
                | to eventually arrive at your chosen destination. Discussing progress along the journey will help
                | to maintain momentum before the opportunity finally arises to celebrate success.

              p.text-right
                b Tim Simpson
                br 
                span.badge.hashtag #OldDogNewTrick

              p
                a.btn.btn-lg.btn-primary(href='02-make-time-for-corporate-learning.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
                p
                  | Tips and tricks to help you as an individual with your personal learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
