doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='learning budet, utilisation levels, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks')
    meta(name='description', content="Make time available to your staff to enable corporate learning.")
    title Make Time For Corporate Learning
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
    
    include ../../includes/page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-9
          h1 #02 Make Time For Corporate Learning
          hr.featurette-divider

          h2 Corporate Learning Is A Must

          p
            | Failing to make time for corporate learning is like planning to fail.

          p
            | If you are not yet convinced that corporate learning is a must then you may want to read
            | my article entitled 
            a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") "The Continuous Learning Dilemma"
            | . Hopefully this will help you to recognise that learning must be treated
            | as an essential part of work for your staff and is therefore a priority.

          h2 No Time For Learning

          p
            | If your staff are allocated 100% to customer work then they can rightly say
            | they "don't have time to learn". It can be a real problem if managers
            | are not committed to making time available to staff for learning due to
            | pressures of meeting short term targets.

          h2 Reduce Utilisation Levels To Make Time For Learning 

          P
            | Managers must advocate for their employees by helping them make time for learning.
            
          p
            | Reducing utilisation levels can make time available to staff for learning.
            | Some organisations allocate a specific block of time on a particular day each week
            | for all of their staff to participate in learning activities and then encourage 
            | sharing of those learning experiences.

          p
            | It may feel uncomfortable or somewhat of a leap of faith to take such a decision but 
            | you are highly likely to reap rewards from doing so. That % dip in utilisation has just
            | become your "learning budget".

          h2 Great Things Come From Small Beginnings

          p
            | Start small by enabling a regular time for learning for your staff.
            | Encourage staff to learn and to share their learning experience.

          p 
            | If your staff are continually learning and developing, you will reach your targets
            | more easily. Learning brings benefits in itself but is also a very effective means to an end.
            | You'll soon also discover that staff morale improves and attrition is reduced.

          p.text-right
            b Tim Simpson
            br 
            span.badge.hashtag #OldDogNewTrick

          p
            a.btn.btn-lg.btn-primary(href='01-technical-skills-are-strategic.html', role='button') &laquo; Previous Trick

        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .rightsidebar
            // <rightsidebar>
            h3 See Also
            
            h4
              a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
            p
              | Tips and tricks to help you as an individual with your personal learning journey.  

            h4 
              a(href="../../blog/prologue.html", title="Prologue") Prologue
            p
              | About me, who I work for and how this blog came about.  

            h4 
              a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
            p
              | The biggest problem facing the IT industry today, namely continuous learning.  

            h4 
              a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
            p
              | Formulating the approach to rise up and attack the continuous learning dilemma.
              | Introduction to the continuous learning spectrum.
          // </rightsidebar>
      // /row
    // /container
    include ../../includes/page_footer.pug
