#cookiepopup.alert.alert-info.alert-dismissible.fade.in.col-md-6.col-md-offset-3(role="alert")
  //- a.close(href='#' data-dismiss='alert' aria-label='close') OK
  button.close(type='button' class='btn btn-primary btn-sm' data-dismiss='alert' aria-label='Close')
    span(aria-hidden='true') OK
  |   We use cookies to understand how you use our site and to improve your experience. 
  a.alert-link(href='privacy.html') Read our cookie policy.
  