p#likeButton.text-right
  a.btn.btn-lg.btn-warning(role='button', onclick="incrementPageLikeCount()")
    img(src="../live/images/like.svg" width="22" height="22")
    |  Like 
    span#likeCount

#thankyou.hidden.alert.alert-info(role="alert")
  img.img-thumbnail(src="../live/images/like.svg" width="30" height="30")
  |  Thank you for liking this page. 
  |  
  span#newLikeCount
