doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='sprint retrospective, sprint retro, agile health check, Life at Capgemini, #LifeAtCapgemini')
    meta(name='description', content="Make sure that your Sprint Retrospectives remain a regular event and don't become just a tick-box activity that fail to deliver any real value.")
    title Gaining Value From Sprint Retrospectives
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug
    include ../../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Gaining Value From Sprint Retrospectives
              hr.featurette-divider

              h2 Avoid Just Ticking The Box 

              p
                | When you and your team have been sprinting for a while, you need to make sure that your Sprint Retrospectives
                | remain a regular event and don't 
                | become just a tick-box activity that fail to deliver any real value. 

              h2 The Continuous Improvement Ethos

              p 
                | Agile has always embraced the Continuous Improvement ethos and hopefully your team does too.

              p 
                | Remember the 
                a(href="http://agilemanifesto.org/principles.html") Twelve Principles of Agile Software
                |  development? Principle 12 states: "At regular intervals, the team reflects on how to become more effective,
                | then tunes and adjusts its behaviour accordingly." (Strange how the Agile Manifesto itself hasn't been updated
                | in years. Steve McConnell thinks 
                a(href="https://www.youtube.com/watch?v=EywFDr1pHqs",target="_blank") 20 Years is Enough! It’s Time to Update the Agile Principles and Values
                |.)

              p 
                | The 
                a(href="https://www.scrum.org/resources/scrum-guide", target="_blank") Scrum Guide
                |  says that the purpose of the Sprint Retrospective is to plan ways to increase quality and effectiveness and therefore 
                | supports principle 12 as a recurring reminder to drive continuous improvement with each iteration.

              p 
                | Whilst the focus of the sprint is often primarily on the business value of the potentially shippable product
                | increment under construction, teams must not forget to also focus on the delivery of strategic value through the
                | achievement of continuous learning and improvement. (See previous blog articles: 
                a(href="/blog/two-customers.html") Two Customers
                |  and 
                a(href="/blog/building-people-then-products.html") Building People, Then Products
                |.)

              h2 Plan-Do-Check-Act 

              p 
                | The Scrum ceremonies map well onto the "Plan-Do-Check-Act" lifecycle with the Sprint Retrospective 
                | being intended as the "Check-Act" part of that lifecycle.
              
              p
                | Doing too little or too much checking without taking any actions will make retrospectives feel unproductive
                | and fuel the "why bother to contribute when nothing ever gets done" attitude within your team. 

              p 
                | However, taking on too many improvement actions at one time can also introduce too much change too soon,
                | causing disarray 
                | within your team if things don't quite work out as anticipated.

              h2 Encouraging Full Team Participation 

              p 
                | Invite the Product Owner and their colleagues. 
                | They may choose not to attend (and that's sometimes helpful 😊)
                | but it demonstrates the spirit of transparency which helps to build trust and confidence with your customer.
                | After all, any views your customer has about what needs to improve are extremely important so why 
                | would you fail to ask them? Sometimes it's the customer that needs to improve too.

              p 
                | You may need to coach some of your "quieter" people outside of retrospectives to remind them to bring
                | up a specific item from a prior conversation
                | during the retrospective and may even need to prompt them on the day. Hopefully it will boost their confidence 
                | going forwards as well as start a useful debate.

              p 
                | Recently, someone raised a great point right at the very last minute of the meeting. None-the-less it was 
                | greatly appreciated.

              h2 Keep It Fresh And Fun

              p 
                | Sprint retrospectives can easily become stale if you don't make an effort to keep them fresh,  
                | especially if the continuous improvement ethos is not alive and kicking in your team culture.

              p 
                | Retrospectives can often take the form of a team discussion to answer three questions:
                ul
                  li What went well?
                  li What didn't go so well?
                  li What or how can we improve?

              p  
                | Whilst these are helpful questions to drive useful 
                | conversations, using the same meeting format in the same location with the same people on each occasion can cause 
                | that "same old, same old" feeling to set in and take the edge off your good intentions. 

              p 
                | It's helpful to vary the meeting format (and perhaps the person running the event) to keep things fresh
                | and fun. There's nothing to stop you from communicating 
                | your intentions in advance so that the team can come prepared.

              p 
                | There are plenty of good books and websites discussing different approaches to retrospectives that you might want to try.
                | (See 
                a(href="https://medium.com/agile-outside-the-box/looking-for-a-new-retrospective-technique-try-one-of-these-19a109b1f1cd") Try One of These
                |  for example.)

              h2 Come Prepared

              p 
                | It's not enough for people to just turn up to a retrospective. People need to come prepared.

              p 
                | Many improvement opportunities are lost through lack of preparation. 😒

              p 
                | Relying on your memory usually isn't enough. I find that keeping notes throughout a sprint 
                | helps me remember what I observed and prepares me for the retrospective. Even the Sprint Review that precedes the 
                | retrospective can provide numerous feedback items and suggestions for improvements.  

              p 
                | Preparation can be as simple as keeping a notepad on your desk (or a text file on your desktop)
                | and simply jotting down notes as matters arise during the current sprint.

              p 
                | Before COVID-19, I sometimes stood at the doorway of the meeting room and wouldn't let people into the meeting 
                | until they could prove that they had done some kind of preparation. People soon got the message.

              p 
                | Come prepared to be challenged. Sometimes it can feel like a negative experience when the feedback isn't what 
                | you had hoped for or expected. Perhaps some complaints or criticisms were surfaced that will need to be addressed.

              h2 Beware Techniques That Discourage Full Team Involvement 

              p 
                | Just because you invited everyone and they turned up is no guarantee 
                | that everyone will get involved and contribute! 

              p 
                | Just like Planning Poker encourages everyone to estimate a story and disclose their estimate at the same time,
                | make sure that you don't use an approach or tooling 
                | that allows others to see or agree with someone else's suggestions before submitting their own and that ultimately
                | discourages full team participation.

              p 
                | Before COVID-19 forced remote working on our entire team, we would conduct our retrospectives in a 
                | large room with team members writing their comments on sticky notes and all posting on the wall at
                | the same time. This approach encouraged everyone to participate and we were able to group duplicate items. 

              p 
                | Switching to remote working and use of software tooling for capturing feedback, we saw the number of comments
                | reducing and so had to re-consider our approach to boost participation.

              p
                | Having a very large project team also reduced participation and so we opted to revert back to
                | individual retrospectives per scrum team instead of using a combined project-level event with
                | all our scrum teams. 

              h2 Keep It Safe And Fair 

              p 
                | People will contribute to the retrospective when they feel it is safe and when they are given  
                | the appropriate opportunity to do so. 

              p 
                | Retrospectives should always be a safe place to discuss things with almost no topic off limit and with everyone
                | having equal opportunity to voice their views, suggestions and/or concerns.
              
              p
                | A "no names, no blame" culture should exist with the agreement that all feedback must be constructive.

              p
                | Allow anonymous feedback if necessary but don't encourage this to be the norm.
              
              p
                | Many improvement opportunities are also lost because of lack of involvement. 😒

              p
                | Don't allow highly-vocal or overly-opinionated individuals to dominate the air time.
                | Try to give everyone equal opportunity and time to contribute. By getting the whole team involved and 
                | contributing you'll 
                | be giving your team the best chance to surface all potential issues and suggestions.

              h2 Remember To Give Yourselves A Pat On The Back 

              p 
                | Don't just see the challenges but also recognise your successes.

              p 
                | There are many benefits to positive affirmation so don't miss the opportunity to bolster team morale 
                | and point out the great work that's been done despite any challenges that the team faced. People love praise!

              p 
                | It's great to accolade people and highlight clear areas of improvement that have been achieved this sprint 
                | or that continue to improve from previous sprints.

              h2 Discussion Is Valuable But Time Is Limited
              
              p 
                | Sprint retrospectives are time-boxed and the duration typically equates to one hour per week of sprint 
                | (i.e. a two-week sprint has a two hour retrospective) but this time does not include preparation time.

              p 
                | Sometimes there will be a myriad of discussion points and simply not enough time to discuss everything. Whilst 
                | you might run out of time, it doesn't mean you have to drop everything and forget all the good discussion
                | points that were raised. You should also avoid getting sidetracked by "low value" topics.

              p
                | By taking note of the useful discussion points identified you can organise follow-up meetings to discuss some of them 
                | in more detail. (
                a(href="http://leancoffee.org", target="_blank") Lean Coffee
                |  meetings can be a useful way of achieving and prioritising that.) 

              h2 Have A Strategic Roadmap

              p 
                | Lack of time is never a valid excuse for failing to improve.

              p  
                | Having a strategic roadmap can drive serious improvements over the longer term that 
                | may take several sprints to achieve. Recognise such opportunities and allow people to take ownership of 
                | them so that they can turn them into successful achievements.

              h2 Actions Speak Louder Than Words

              p 
                | To birth improvements means changing what you do and/or how you do it. (Strange how it takes some people
                | longer than others to figure that out! 😊)  

              p 
                | Sometimes there are so many suggested improvement actions that it's hard to decide exactly which to focus on
                | and for this reason some teams restrict the choices by voting to decide the top three improvements to try out.

              p 
                | Some suggestions may also be more radical than others and really challenge the status quo. This can be innovation
                | at its best or surface vocal confrontation from your resident change resistors!
                | (Some people just don't like change. 😒)

              p
                | Trialling different suggestions in different scrum teams can yield interesting results.

              h2 Breaking Chains / Killing Sacred Cows 

              p 
                | As someone who has coached many Agile teams over the years, I've seen a whole range of reactions to suggested 
                | improvements: whether to ways of working, adoption of a new technique or switching tool choices and
                | recognise that it can take a variety of approaches, and sometimes real people skills, to 
                | convince some people (or even a whole teams) to embrace change before breakthrough can happen.

              p 
                | Rome wasn't built in a day and I've seen many a change resistor eventually sing the praises of the very
                | changes they once vehemently opposed. Sweet! 😊

              p 
                | As a result, my deep respect goes to those charismatic winners of hearts and minds knowing that
                | disruption is only half of the battle! 😊

              h2 Record Everything 

              p 
                | For an accurate record, don't dismiss anything out of hand but rather record all feedback, suggestions and 
                | agreed actions for posterity as well as the list of attendees.

              h2 Hold A Retrospective Of Retrospectives

              p 
                | Continuous improvement is an infinite loop. It never ends. It may even be recursive! 😊😒

              p 
                | Reflecting on your retrospectives over time will help you determine and improve their effectiveness
                | and is therefore a valuable exercise that I would recommend doing from time to time.

              p 
                | I'd also recommend the Spotify technique I saw some years ago called "
                a(href="https://www.youtube.com/watch?v=6oUBmTImb5w", target="_blank") Definition Of Awesome
                | " where teams agree what "awesome" would look like for them and then work out their next steps
                | to march towards it. (This technique works well alongside a strategic roadmap.)

              p 
                | Both can help you prove (or disprove) that you are really making progress. Good luck with that!

              h2 Agile Health Check - Sprint Retrospective 

              p 
                | Why not take the opportunity to give your Sprint Retrospectives an Agile health check?

              p.text-right
                span.badge.agilehealth #AgileHealthCheck

              table.table.table-bordered
                thead()
                  th.good-smell
                    .text-center
                      | Healthy
                tbody(style="background-color: darkslategray;")
                  tr
                    td.good-smell-item
                      ul
                        // Before the event
                        li Team has a healthy continuous improvement ethos.
                        li A sprint retrospective occurs at the end of every sprint.
                        li The whole team (including the Product Owner and their colleagues) are invited.
                        li Team has sufficient time for the retrospective.
                        li Team prepares properly for the retrospective.
                        li The sprint retrospective and preparation activities feature in sprint planning.
                        li Retrospective meeting format varied over time to keep events fresh.
                        // At the start of the event
                        li Meeting host assigned to oversee the running and documenting of the retrospective.
                        // During the event
                        li The whole team attends the retrospective.
                        li All attendees contribute to the retrospective.
                        li Product Owner and colleagues attentive and actively contribute to proceedings.
                        li A "no name, no blame" culture prevails throughout the retrospective.
                        li Attendees feel safe to speak openly during the retrospective.
                        li Almost no topic is off limits.
                        li Anonymous feedback is allowed but not the norm.
                        li Meeting runs smoothly with all participants having equal opportunity to contribute.
                        li Team assesses both the positive and negative aspects of the sprint.   
                        li Event proceedings and attendees are documented by the meeting host (supported by team).
                        li On-line meeting recorded (if possible).
                        li Both the team and customer gain useful feedback. 
                        // As a result of the event
                        li Retrospective identifies a number of opportunities for improvement.
                        li All agree that the sprint retrospective was a good and valuable experience for all involved.
                        // At the end of the event
                        li Team votes / agree which improvement items to take forward into the next sprint.
                        li Follow-up meetings are arranged to further discuss important issues and improvement suggestions that arose during the retrospective.
                        // After the event
                        li Agreed improvements from the previous sprint retrospective were completed in the current sprint.
                        li Team has a demonstrable history of improvement.
                        li Team has a strategic roadmap to track and guide longer term improvements that may take several sprints to achieve.
                        li Team periodically holds a Retrospective of Retrospectives event to validate and improve the effectiveness of their sprint retrospectives. 
                thead(style="background-color: darkslategray;")
                  th.bad-smell
                    .text-center
                      | Unhealthy
                tbody
                  tr
                    td.bad-smell-item
                      ul
                        // Before the event
                        li Team does not have a healthy continuous improvement ethos.
                        li A sprint retrospective is not held at the end of every sprint.
                        li Not all of the team (including the Product Owner and their colleagues) are invited.
                        li Team has insufficient time for the retrospective.
                        li Team fails to prepare properly for the retrospective.
                        li The sprint retrospective and preparation activities do not feature in sprint planning.
                        li The same meeting format is used for each retrospective.
                        // At the start of the event
                        li No meeting host is assigned to oversee the running and documenting of the retrospective.
                        // During the event
                        li Only part of the team attends the retrospective.
                        li Only some of the attendees contribute to the retrospective.
                        li Product Owner and colleagues absent or inattentive and contribute little to proceedings.
                        li A "no name, no blame" culture does not prevail throughout the retrospective.
                        li Attendees do not feel safe to speak openly during the retrospective.
                        li Some topics are off limits for discussion.
                        li Anonymous feedback frequently occurs.
                        li Meeting rarely runs smoothly with some participants having no opportunity to contribute.
                        li Team assesses only negative aspects of the sprint.   
                        li Event proceedings and attendees undocumented.
                        li On-line meeting not recorded (if possible).
                        li Both the team and customer gain little useful feedback. 
                        // As a result of the event
                        li Retrospective fails to identify many opportunities for improvement.
                        li Few feel that the sprint retrospective was a good and valuable experience for all involved.
                        // At the end of the event
                        li Team fails to vote / agree which improvement items to take forward into the next sprint.
                        li No follow-up meetings are arranged to further discuss important issues and improvement suggestions that arose during the retrospective.
                        // After the event
                        li Agreed improvements from the previous sprint retrospective remain incomplete after the current sprint.
                        li Team has no demonstrable history of improvement.
                        li Team has no strategic roadmap to track and guide longer term improvements that may take several sprints to achieve.
                        li Team does not periodically hold a Retrospective of Retrospectives event to validate and improve the effectiveness of their sprint retrospectives. 

              include ../../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 14th January, 2022
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2021/35-spicing-up-sprint-reviews.html","/blog/2022/37-invest-in-product-backlog-refinement.html")

          .col-md-3.hidden-print
            include ../../includes/page_blog_sidebar.pug
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
