doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='project radar, challenging projects, project dynamics, agile leadership, facets of software projects, agile health check, Life at Capgemini, #LifeAtCapgemini')
    meta(name='description', content="Learning to recognise and prioritise the many facets of software projects to build high performing teams and deliver successful outcomes.")
    title Project Radar: Recognise And Prioritise
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug
    include ../../includes/page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 Project Radar: Recognise And Prioritise
              hr.featurette-divider

              h2 Project Or Battle Field? 

              p 
                | My work preference is to work with the best people on the most challenging projects and I've been 
                | lucky enough to be given opportunity to do just that for many years now.

              p 
                | I don't know about you but I like to be busy and to get things done. I also like to sit back every once
                | in a while and see the fruits of my labours and the great work that my project team has achieved.

              p
                | However, busy projects can sometimes feel like battle fields with so many different things happening so quickly
                | that it makes you want to take cover, re-group and re-plan before you re-engage your project. 

              p 
                | If you're used to routine project work then you might not be able to relate to this kind of experience but if 
                | you've ever been part
                | of a large team, with challenging requirements, aggressive deadlines, in a highly competitive environment, then 
                | you might totally relate to it.

              p
                | You don't find descriptions of these types of challenges
                | in your average software project text book and such experiences can cause serious fallout if you're not careful.

              h2 Been There, Done That 

              p 
                | Those who've worked on challenging and demanding projects before, been there, done that, got the T-shirt etc.
                | may not be phased and just appear to take it all in their stride. But for others, stress 
                | can start to mount and panic can begin to set in. It's not unusual for people to sometimes question their own 
                | abilities under such circumstances. This is where real leadership and teamwork can make such a difference. 

              h2 Magic Glasses 

              p 
                | I often wish I could put on a pair of magic glasses that would show me my number one problem so that 
                | I could deal with it and move on. I wish.

              p  
                | When the pressure builds and the cracks start to appear on your project, it's time to put on your 
                | super-hero costume and
                | call upon your super powers to save the day! But just like real life, for software projects
                | that's not an option. Instead you need to "recognise and prioritise" - it's what Agile Leadership is 
                | all about and it shouldn't just happen when the bullets start flying. 

              h2 Project Radar 

              img.mugshot.img-thumbnail.img-responsive(src='/images/radar-screen.jpg', width="30%", height="30%", alt='Sonar Radar Screen', title='Sonar Radar Screen')

              p 
                | Agility is all about responding to change and managing that process but those changes aren't 
                | limited to requirements. Other stuff happens too!

              p 
                | As a leader, you need to be continually using your "Project Radar" to recognise situations arising 
                | and prioritise your responses accordingly. You can't afford to go it alone in this space. Other 
                | members of your team also need to employ their "Project Radar" so that you can meet regularly (re-group) 
                | to take cover, re-plan and then re-engage your project. It's just another variant of the Plan-Do-Check-Act technique.

              h2 The Many Facets Of Software Projects 
              
              p
                | There are so many facets and dynamics to software projects that are over and above just building
                | and shipping software that project teams must navigate and master in order to be successful.

              p 
                | For example, turning the available people on your team into a capable team. That's all about training 
                | and coaching and making opportunities for people to gain and try out new skills. However, it's not mentioned in 
                | the "Scrum Guide" and it doesn't happen by accident.

              p 
                | Other un-documented staples of software projects, to name a few, include: 
                ul 
                  li Recruitment activities 
                  li On-boarding new starters 
                  li Knowledge transfer / sharing
                  li Upgrading software libraries 
                  li Dealing with technical debt 
                  li Embracing new development tools or technologies 
                  li Gaining certifications
                  li Resolving unexpected issues in live production
                  li Debugging and fixing problems
                  li Taking on additional responsibilities within your team
                  li Estimating potential new work
                  li Managing workload 
                  li Role rotation 
                  li Succession planning
                  li New business opportunities
                  li Sustainability

              h2 It's A Marathon And A Sprint

              p 
                | Sprint mentality is fine for focusing on product increments and continuous improvement but building
                | and leading a successful project team 
                | is more akin to the "marathon running" concept. It requires a longer term strategy that runs in parallel 
                | to your short term (sprint) strategy.

              p 
                | I feel at ease on projects when I know what my problems are and when I have a plan to deal with them. They 
                | say that "a problem shared is a problem halved" and so it's good to be transparent about problems so that the 
                | greater minds on your team and elsewhere can begin to address them, or at least plan to. 

              h2 Continuous Project Scanning

              p.text-right 
                span.badge.agileleadership #AgileLeadership

              h3 Launching New Ships 

              p 
                | Part of the bigger picture of your project (and most apparent at project start-up) is to recognise
                | "big ticket items" that 
                | require distinct ownership. Using your "Project Radar" to identify these on-going essential items presents
                | great opportunities to
                | delegate work packages and to also allow individual team members to step up and take responsibility
                | for their delivery.

              p 
                | Get together, agree some goals and milestones, write some simple stories,
                | assign an owner and launch your ship!

              h3 Chasing And Driving Progress 

              p 
                | Newly launched ship owners and crews require on-going encouragement and motivation to navigate the stormy seas of 
                | busy projects to ensure progress and success. Without this, good intentions will run aground or sink and go under.

              p
                | Goal setting and intermediate milestones provide a means of identifying and taking the individual steps
                | that eventually turn ambition into achievement. They ensure each ship will reach its destination,
                | even when there is sometimes no sign of land on the horizon.

              h3 Bonding A Motley Crew 

              p 
                | Each ship is a voyage that can help to bond your motley crew. A journey of mutual respect and growing skills. 
                | Remote working has made building relationships a lot harder, especially if you rarely use video on calls.
                | Having progress goals beyond sprint goals enables the team to see their own growth over time. 
                
              p 
                | We sometimes learn things the hard way but none-the-less as long as our experiences bring us learning  
                | we will all be better equipped as a team for the next project or challenge around the corner!

              h2 Agile Health Check - Project Radar

              p 
                | Why not take the opportunity to give your "Project Radar" an Agile health check?

              p.text-right
                span.badge.agilehealth #AgileHealthCheck

              table.table.table-bordered
                thead()
                  th.good-smell
                    .text-center
                      | Healthy
                tbody(style="background-color: darkslategray;")
                  tr
                    td.good-smell-item
                      ul
                        li The project team is aware of opportunities for strategic growth.
                        li The project team has long term strategy goals that run in parallel to short term sprint goals.
                        li The project team meets regularly to discuss strategy and plan strategic work.
                        li The project team recognises the importance of delivering strategic value alongside business value. 
                        li The project team delivers both business value and strategic value.
                        li Setting long term goals with intermediate milestones allows the project team to achieve and recognise strategic growth.
                        li The project team works in a pro-active manner rather than reactively.
                        li The project team is able to work on multiple strategic themes in parallel.
                        li Team members are regularly given opportunities for personal development.
                        li Personal development is not sidelined by project priorities.
                        li Delegation of ownership of strategic work items allows team members to grow and demonstrate their potential.
                        li Time is invested in assessment of team dynamics and team growth activities.
                        li Team health and people matters are regularly discussed and prioritised.
                        li Individual team members are nurtured to grow their capabilities and maximise their potential.
                        li Project work is sustainable and enjoyable.
                thead(style="background-color: darkslategray;")
                  th.bad-smell
                    .text-center
                      | Unhealthy
                tbody
                  tr
                    td.bad-smell-item
                      ul
                        li The project team is unaware of opportunities for strategic growth.
                        li The project team has no long term strategy goals that run in parallel to short term sprint goals.
                        li The project team rarely meets to discuss strategy or plan strategic work.
                        li The project team fails to recognise the importance of delivering strategic value alongside business value. 
                        li The project team delivers mainly business value and minimal strategic value.
                        li Few long term goals are achieved by the project team with minimal strategic growth.
                        li The project team works largely in a reactive manner rather than pro-actively.
                        li The project team does not work on multiple strategic themes in parallel.
                        li Team members are not regularly given opportunities for personal development.
                        li Personal development is often sidelined by project priorities.
                        li Lack of delegation of strategic work items prevents team members taking ownership to grow and demonstrate their potential.
                        li Time is not invested in assessment of team dynamics and team growth activities.
                        li Team health and people matters are not regularly discussed or prioritised.
                        li Individual team members are not nurtured to grow their capabilities or maximise their potential.
                        li Project work is not sustainable or enjoyable.

              include ../../includes/page_like_button.pug

              p.text-right
                b Tim Simpson
                br 
                | 31st March, 2022
                br 
                span.badge.hashtag #LifeAtCapgemini

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2022/37-invest-in-product-backlog-refinement.html","/blog/2022/39-sprint-planning.html")

          .col-md-3.hidden-print
            include ../../includes/page_blog_sidebar.pug
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
