doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='personal learning, learning routine, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks')
    meta(name='description', content="Make time for personal learning a priority and matter of routine.")
    title Make Time For Personal Learning
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #02 Make Time For Personal Learning
              hr.featurette-divider

              h2 Personal Learning Is A Must

              p
                | Failing to make time for personal learning is like planning to fail.

              p
                | If you are not yet convinced that personal learning is a must then you may want to read
                | my article entitled 
                a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") "The Continuous Learning Dilemma"
                | . Hopefully this will help you to recognise that personal learning must be treated
                | as an essential part of your work and is therefore a priority that must become routine.

              h2 No End To Your Education And No Job For Life

              p
                | It's a mistake to think that your education was complete when you left school
                | or finished college or university. It's also a mistake to imagine that your education
                | equipped you with a skill for life that you could utilise with little or no change.
                | For the vast majority, continuous learning is a stark reality i.e. our education continues
                | and there is no longer any such thing as a job for life! 

              h2 Too Busy For Learning

              p
                | Most people who say they "don't have time to learn" really mean they "don't make time
                | to learn". Time management is a skill that needs to be learned and many people,
                | despite many years of working, still haven't got a handle on it.

              p
                | If you find yourself in the position of being too busy to learn because of the 
                | pressures of the "day job" then please take some time to read my article on being 
                a(href="../../blog/crazy-busy.html", title="Crazy Busy") "Crazy Busy"
                | . This will hopefully provide you with an escape route to regain control of your work and time
                | so that you can become more pro-active and begin to plan and commit to a regular
                | time for learning.

              h2 Use Brut Force If Necessary

              p
                | In today’s fast-paced business world, no one’s going to force you to engage
                | in continuous learning — a strategy that is essential to your future success. You must
                | take the initiative yourself.
              p
                | To get started quickly, you may need to just pick a time and place and commit to learning
                | regardless of whatever else is going on or how busy you are at the time. You may even need to hide
                | away to achieve it. Regardless of the circumstances, it will likely prove the best decision
                | and investment you ever made.

              h2 Great Things Come From Small Beginnings

              p
                | Start small by making a regular commitment to learning in your calendar.
                | Find a time and place that suits you and guard that time jealously! Occasionally
                | you may need to re-schedule to a different date/time but that's usually rare.

              p 
                | You'll soon discover that taking time out to learn as a matter of routine is a refreshing change
                | and you'll probably surprise yourself how quickly you can learn new things
                | when you put your mind to it!

              p.text-right
                b Tim Simpson
                br 
                span.badge.hashtag #OldDogNewTrick

              p
                a.btn.btn-lg.btn-primary(href='01-decide-what-to-learn.html', role='button') &laquo; Previous Trick
                | &nbsp;
                a.btn.btn-lg.btn-primary(href='03-hide-away-change-the-scenery.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
                p
                  | Tips and tricks to help your organisation on its corporate learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
