doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='personal learning, learning routine, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks')
    meta(name='description', content="How to avoid distractions and occasional interruptions to maximise your learning time and productivity.")
    title Avoid Distractions And Occasional Interruptions
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #04 Avoid Distractions And Occasional Interruptions
              hr.featurette-divider

              h2 Headphones - Hiding In Plain Sight
              
              p
                img.mugshot.img-thumbnail.img-responsive(src='../../images/headphones.jpg', alt='Headphones - Your secret weapon!', title='Headphones - Your secret weapon!')
                | If you don’t have the luxury of a secret hideaway or a private office with a closed door and “Do Not
                | Disturb” sign (or some other agreed office convention) then the magic device that
                | you need is a pair of headphones – hopefully a set that doesn’t make you look like
                | an air traffic controller.

              p
                | Headphones allow you to “kill two birds with one stone”, to coin an English phrase.
                | By wearing a pair of headphones you can avoid both everyday distractions and occasional
                | unwanted interruptions from people.

              h2 Avoiding Occasional Interruptions

              p
                | I avoid occasional interruptions from people by pretending to be on a call. I even move
                | the microphone on my headset into place and pretend to speak. People see that you are “busy” and walk
                | away. Sweet!

              h2 Avoiding Distractions

              p
                | I tried the headphones trick for a while without actually listening to anything but
                | realised that I was still breaking my concentration with the distractions of tuning into
                | the various conversations of colleagues happening nearby. That’s really useful when 
                | you’re co-located with your dev team but not so good if you are hiding away in the
                | hope of getting something done.

              p
                | I found some background piano and guitar music on YouTube. At time of writing it had
                | 21,975,479 views. (Most of those are mine. 😊) It stops me tuning into conversations
                | but doesn’t stop me working. I guess favourite music with lyrics might start me singing
                | – not good for anyone’s productivity and more likely to get something thrown at me or
                | cause it to start it raining. 

              include ../../includes/page_like_button.pug
              include ../../includes/page_trick_sign_off.pug

              p
                a.btn.btn-lg.btn-primary(href='03-hide-away-change-the-scenery.html', role='button') &laquo; Previous Trick
                | &nbsp;
                a.btn.btn-lg.btn-primary(href='05-create-a-personal-development-plan.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
                p
                  | Tips and tricks to help your organisation on its corporate learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
