doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='personal development plan, personal learning, learning routine, continuous learning dilemma, learning culture, always learning, up-skilling, re-skilling, lifelong learning, IT industry, old dog new tricks')
    meta(name='description', content="Create a personal development plan to power your personal learning journey.")
    title Create A Personal Development Plan
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #05 Create A Personal Development Plan
              hr.featurette-divider

              h2 Benefits Of A Personal Development Plan

              p
                | Having a personal development plan will help you plan your personal learning journey.
                | It will allow you to define your objectives (i.e. to focus on what you want to achieve and when by)
                | and track your progress. Seeing a steady stream of achievements will also motivate you further.
              
              h2 Personal Development Objectives

              p
                | Think carefully about your development objectives and exactly what it is that you want
                | to achieve.

              p
                | Remember not to under-estimate the value and
                | importance of business and soft skills as well as the technical skills you wish to learn.

              p
                | If you have multiple objectives, then you may need to prioritise them. You can then begin
                | to identify the steps you will need to take to go from intention to achievement.

              h2 Involve Your Line Manager

              p
                | Work with your line manager to create and validate your personal development plan.
                | Sharing and working on your personal development plan with your line manager will make you more
                | accountable for it.
                
              p
                | He or she can help identify skills and learning needs, point out learning and training
                | opportunities and confirm whether your objectives align well or not with department and
                | business goals.
              
              p
                | Expect your line manager to want to set some of your objectives and to challenge you
                | over deadlines. He or she may want to set some objectives that will stretch you
                | and take you outside of your comfort zone!
              
              p
                | If you initiated the personal development plan for yourself, you may find it adds
                | stronger backing to any requests to management for access to learning resources, training
                | or attending conferences etc.

              h2 Have A Deadline

              p
                | Setting a deadline can be helpful in adding some urgency to incentivise commitment to
                | your plan. For example, someone aiming to run a marathon might apply to enter a race the
                | same time next year and then use the time in between to prepare and train in order to be ready.
              
              p
                | If you are aiming to gain a formal certification then think about the potential exam date.
                | Try not to be too ambitious in your choice of deadlines or they will merely prove unrealistic.

              h2 Planning Is Rewarding

              p
                | Don’t under-estimate the value of the planning part of the learning journey.
                
              p
                | The nature of your personal development
                | objectives will determine just how much up-front planning and preparation will be
                | required. Some objectives may require more planning than others although usually you don’t
                | need a detailed plan.

              p
                | Having a plan will help you work out where to start and what to do next.

              h2 Consider Your Personal Development Approach Carefully

              p
                | Remember that for most of us, 70% of our learning
                | comes from "hands-on" doing, 20% through social interaction and only 10% from formal training.
                | (See 
                a(href="https://www.growthengineering.co.uk/70-20-10-model/", title="the 70:20:10 model", target="_blank") the 70:20:10 model
                | .)
                
              p
                | This means your approach to learning and development needs to include a mix of hands-on
                | doing stuff (being creative or building something) as well as
                | social interaction to learn from others (perhaps at technical community or meetup events) and also
                | the undertaking of some form of training (perhaps eLearning or in the classroom), all preferably
                | in the 70:20:10 ratios if possible. 

              h2 Get Help

              p
                | Just because it’s a personal development plan doesn’t mean to say you can’t involve and get
                | help and encouragement from other people throughout your journey.
                
              p
                | Where possible, seek out people who have already
                | achieved the same or similar objectives and talk to them about their approach.
                | Find out what worked,
                | what didn’t and what advice they would offer. Afterall, you don’t want to learn anything the
                | hard way and this can help you take shortcuts on learning curves and avoid rookie mistakes.

              p
                | You may want to include others in your plan for shadowing, coaching or mentoring purposes
                | too. If there are others seeking to achieve the same objective, then why not team up and
                | work on it together? That way you can help and motivate each other.

              h2 Making It Happen

              p
                | It’s good to get your next action in the calendar at the earliest opportunity, preferably
                | colour-coded so it stands out. You should also allocate regular time slots into your calendar
                | (similarly colour-coded) to keep up the momentum and enable steady progress to be made.
                
              p
                | Of course, you’ll need some discipline to stay on track, follow through and make it happen but
                | having a plan and time blocked out in your calendar is a great launch pad and reminder.

              h2 Progress Tracking

              p
                | Record your achievements against your objectives as you go.

              p
                | Seeing a series of completed achievements on your
                | personal development plan will prove that you are making progress and make you feel good.
                | It will also motivate you to keep going. 

              h2 Discipline And Recovery

              p
                | Nothing significant is achieved without time, effort and dedication to the cause.
                
              p
                | Try to remain disciplined to “not break the chain” of planned learning and development activities, regardless
                | of what the work environment throws at you.

              p
                | If you do miss a planned activity, try to slot it back in elsewhere in your schedule
                | but if not, try to follow the rule of “never miss twice”.

              p
                | With sustained commitment you will eventually reach your personal development objectives.
                | It will then be time to celebrate. Yay! 
                
              p
                | Until then, stay focussed on your personal development plan. Good luck.

              include ../../includes/page_like_button.pug
              include ../../includes/page_trick_sign_off.pug

              p
                a.btn.btn-lg.btn-primary(href='04-avoid-distractions-and-occasional-interruptions.html', role='button') &laquo; Previous Trick
                | &nbsp;
                a.btn.btn-lg.btn-primary(href='06-learn-to-manage-your-time-well.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
                p
                  | Tips and tricks to help your organisation on its corporate learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
