doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='managing yourself, manging your time well, ToDo List, daily planning, time management, stress-free productivity, IT industry, old dog new tricks')
    meta(name='description', content="Learning to manage your time well will have a massive impact on your ability to learn, to do the day job and to still have time for your life outside of work. It’s a life skill worth investing heavily in - it's a game changer!")
    title Learn To Manage Your Time Well
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #06 Learn To Manage Your Time Well
              hr.featurette-divider

              h2 A Must-Have Skill If Ever There Was

              p
                | Being able to manage your time well is a valuable life skill that needs to be learned
                | but many people, despite many years of working, still haven't got a handle on it.

              p
                | Many suffer from sub-optimal time management skills coupled with a strong desire
                | (and project pressures) to delight the customer which both inevitably impact commitments
                | to learning.

              p
                | Don’t get me wrong, I’m not saying that learning is more important than delighting
                | customers. What I am saying though is that learning is essential to delighting customers
                | and so getting the balance right, in terms of how we manage our time, is extremely
                | important.

              p
                | Learning to manage your time well will have a massive impact on your ability to learn,
                | to do the day job and to still have time for your life outside of work. It’s a life
                | skill worth investing heavily in – it’s a game changer!

              h2 Worth Reading / Watching

              p
                img.mugshot.img-thumbnail.img-responsive.hidden-xs(src='../../images/getting-things-done-book.jpg', alt='Getting Things Done Book Cover', title='Getting Things Done Book Cover')
                | I like to learn from the best so I went looking for an industry guru on this subject.

              p  
                | David Allen is best-selling author of “Getting Things Done – The Art Of Stress-Free
                | Productivity”.
 
              p
                | If you don’t have time to read the book, you may want to watch this 
                | video instead:
                br 
                a(href="https://www.youtube.com/watch?v=CHxhjDPKfbY", title="The Art Of Stress-Free Productivity Video", target="_blank") The Art Of Stress-Free Productivity

              p
                | It’s really helpful at explaining the key issues and challenges we all face managing
                | our time as well as providing some great advice on how to achieve “stress-free
                | productivity”.

              p
                | What follows in this article is a summary of what I’ve learned from my work life
                | (sometimes the hard way) and from the advice gained watching the video (countless
                | times) and from applying that advice in my work life (but not my home life
                | – which my wife manages for me way better than I ever could! 😊).

              p
                | I’m a reluctant multi-tasker (my work demands it) and still learning and tweaking
                | as I go but am getting lots more done and regularly seeing intentions turn into
                | achievements.

              p  
                | I’ve certainly not been anywhere near as stressed (
                a(href="../../blog/crazy-busy.html", title="Crazy BUsy") crazy busy
                | ) as I once got a
                | few years back – a situation which arose and resulted in my choosing to learn this
                | essential life skill which still leaves me wondering why it took me so long into
                | my career to master this skill. Well, that’s history and better late than never. 

              h2 A Few Simple Truths

              p
                | Here are a few simple truths to keep in mind and to help shape the way you work:
                ul
                  li You can’t manage time – everyone has the same 24 hours in a day.
                  li You can’t do everything:
                  ul
                    li Decide what not to do.
                    li
                      | Apply the 
                      a(href="https://wikipedia.org/wiki/Pareto_principle", title="Pareto Principle (80:20 rule)", target="_blank") Pareto Principle (80:20 rule)
                      |  to what you choose to do.
                  li You can’t manage everything in your head:
                  ul
                    li Write stuff down so you can see it and don’t forget it.
                  li Not everything is urgent or important:
                  ul
                    li Decide what is to you.
                  li Distractions are everywhere:
                  ul
                    li Learn to recognise them and stay focused.
                    li Beware of productivity killers e.g. procrastination, email, manual repetition etc.
                  li Interruptions happen all the time:
                  ul
                    li Learn tactics to avoid and manage them.
                  li Change is permanent so learn to live with it and benefit from it.
                  li Stress is usually self-inflicted:
                  ul
                    li Learn how to overcome and avoid it.
                    li Realistically re-appraise your priorities and get help.
                  li We all need and benefit from help so don’t wait to ask for it or offer it.
                  li Realise that people can sometimes be (un)friendly, (un)helpful, (un)sympathetic, (un)realistic and (un)clear.
                  ul 
                    li Deal with each situation accordingly. 
                    li Don’t take on anything that is unrealistic or unclear.
                  li It’s far too easy to take on too much:
                  ul
                    li Learn to say “no”.
                    li Don’t run races for other people at the expense of your own race.
                    li Be happy to help people but not to do their work for them.

              h2 Goals 

              p
                | Be objective. Focus on outcomes.

              p
                | What do you really want / need to achieve? When by? Who for? What are the priorities?

              p
                | You may want to 
                a(href="05-create-a-personal-development-plan.html", title="Create A Personal Development Plan") create a personal development plan
                |.

              h2 ToDo List

              h3 Projects / Actions
              p
                | Use a ToDo List to manage all your projects and actions. I use 
                a(href="https://nirvanahq.com/", title="nirvanahq.com - On-line ToDo List", target="_blank") nirvanahq.com on-line ToDo List
                |  (the free version)
                | which adequately serves my needs in the way I use it. (This is how you get stuff “out of your
                | head” and into a manageable “systemic process”.)

              h3 Define Clear Outcomes
              p
                | Ensure each project has a clear desired outcome and group actions by project.

              p
                | Regularly review your projects / actions and re-appraise desired project outcomes accordingly.

              h3 Visualise Your Projects / Actions
              p
                | It helps the planning process if you can visualise your projects and actions collectively. You may
                | want to use a "Mind Map" style view. 

              h3 Weeding Your ToDo List
              p
                | Remove actions from your ToDo List that you realise you’ll never do or that do not affect
                | an outcome. After a while you’ll recognise items that have been languishing but not progressing
                | or where a change of circumstance has made them obsolete. Delete such items without hesitation.

              h3 Add Detail To Work Items
              p
                | Clarify your ToDo items with more information as you discover it, this will help you later.
                | This usually involves setting a deadline, pasting a link or the body of an email or the name / email
                | address of a person that you’ll need to contact into a ToDo item as some kind of reminder.

              h2 Daily Planning

              p
                | Plan / re-plan your work for the day at the start of each day. Don’t try to plan ahead too
                | much if you can help it. (Daily planning for 30 minutes at the start of each day helps me
                | quickly dump new stuff into my ToDo List anytime during the day and not have to deal with
                | it immediately.)

              p
                | Decide what to focus your time on, when and for how long (daily, weekly, monthly etc.).

              p
                | Take into account the likely effort required and due dates. Include time for thinking
                | and relaxation.

              p
                | Prioritise actions accordingly by due date, urgency / importance and availability etc.
                | I use a just-in-time (JIT) approach and typically put preparation tasks immediately
                | before meetings or the day before if I think I’ll possibly overrun or need a second
                | opinion on something. The JIT approach stops procrastination and aids focus for me.

              h2 Calendar

              h3 Block Out Time In Your Calendar
              p
                | Block out time in your calendar for the actions you intend to focus on – this is
                | “where the rubber hits the road” and your ToDo List items begin to turn from good
                | intentions into actual achievements! ToDo Lists alone are not enough, real time
                | commitment is required too. (I use Office 365 Mail / Calendar on-line - they work
                | for me, unlike the Windows versions which often had me working for them.)

              h3 Break Down Work Into Chunks
              p
                | Break work items down into chunks based on a realistic concentration span. For me
                | the maximum duration is usually an hour but occasionally two hours if something
                | needs completing sooner. Decide where you might want to do the work.
              
              p
                | Leave gaps to ensure you occasionally take a break. You can even reward yourself
                | with a cookie or walk or listening to some music or something. Whatever works for
                | you. 

              h3 Vary The Work Mix
              p
                | Mix tedious work with interesting work to do at particular times of day that best
                | suit you e.g. do dull admin tasks at the end of day and creative stuff earlier in
                | the day although you may wish to end the day on a high by doing something
                | interesting. It’s your plan.

              p
                | Your intention should be to work on and complete a single task at a time.
                | Beware if you find yourself trying to multi-task.

              h3 Be Creative And Consistent With Colour
              p
                | Be creative and consistent with colour coding of work items.
                | It will help you review how you’ve been
                | spending your time and help you mix up your work to make it more varied and
                | interesting. (I use Office 365 categories to achieve this.)
              
              p
                | I use purple for learning / training activities, yellow for my Capabilities Lead
                | role activities, orange for my architecture project work, red for important stuff, blue for
                | wider Capgemini stuff and green for personal stuff (including daily planning
                | and lunch).

              h3 Stick To Your Plan
              p
                | Stick to your plan jealously each day! Expect to have to amend it occasionally
                | but that’s usually rare in my experience. When unavoidably interrupted, if
                | necessary, re-plan your current work for another time, otherwise add new actions
                | to your ToDo List as appropriate and resume what you were doing.

              h3 Correct / Weed Your Calendar
              p
                | Adjust durations if you spend more or less time than you planned on a task.

              p
                | Delete or move planned items from your calendar that you failed to work on that
                | day. It will leave a gap in your time for the day unless you add an item to define
                | what you did instead. Don’t be afraid to have gaps.

              h3 Review Your Calendar Periodically
              p  
                | When you review how you spend
                | your time you’ll soon learn if you are failing to stick to your plans by the gaps
                | or lack of certain colours. You can then take steps to adjust accordingly.

              h3 Enforce Good Habits With Recurring Tasks
              p
                | Remember, you can use your calendar for recurring tasks to serve as reminders to
                | re-enforce good habits for things you need to do on a regular basis such as
                | planning, filling out your timesheet, one-to-one meetings, team meetings, learning etc. 

              h3 Maximise Unexpected Free Time
              p
                | Remember to enjoy discretionary “free time” when someone cancels a meeting you were
                | invited to. Yay! 😊

              h2 Old School Notepad

              p
                | I’m an old-school, spiral-bound, A4, notepad kind of guy. I work from the front of
                | my notebook to record notes and diagrams about meetings, including where/when/who/what
                | and any actions I took away that need to go into my ToDo List. 
              
              p
                | I work from the back of
                | my notebook to record a high-level list of tasks that I work on each day and approximately
                | how long I worked on each. This amounts to one page per week and also serves as an index to
                | look-up meetings by date recorded at the front of the notebook.
                
              p
                | This system has served me so well over the years that I’ve seen no reason to change it.

              h2 Keep A Learning Diary

              p
                | I use a smaller, spiral-bound, A5, notepad as a learning diary. This allows me to scribble
                | notes about new things I stumble across that I may want to investigate and to record notes
                | during training and learning sessions. 

              p
                | It also serves as a very prominent reminder on my desk that I’m supposed to be learning
                | new stuff each day. Don’t under-estimate how powerful that is!
             
              h2 Special Weapons And Tactics

              p
                | Even when you are managing your time well you may still need to call upon a number of
                | what I call “special weapons and tactics” in order to execute your best-laid plans unscathed. 

              p
                | A couple of tricks that spring to mind include:
                ul
                  li
                    a(href="03-hide-away-change-the-scenery.html", title="Hide Away / Change The Scenery") Hide Away / Change The Scenery
                  li
                    a(href="04-avoid-distractions-and-occasional-interruptions.html", title="Avoid Distractions And Occasional Interruptions") Avoid Distractions And Occasional Interruptions

              p
                | If you find yourself maxed-out, stressed-out or out of control then you may want to read
                | my article entitled 
                a(href="../../blog/crazy-busy.html", title="Crazy Busy Blog Article") “crazy busy”
                |  in order to escape and get back on track. This can happen
                | to the best of us, usually when we least expect it.

              p
                | However, expect to improve how you manage your time as you go. Don’t expect to get it
                | right straight away, or all the time, as circumstances will occasionally catch you out
                | and expose opportunities to learn from mistakes and improve. Over time you’ll see the
                | benefits and people will notice that you are someone who gets things done!

              include ../../includes/page_like_button.pug
              include ../../includes/page_trick_sign_off.pug

              p
                a.btn.btn-lg.btn-primary(href='05-create-a-personal-development-plan.html', role='button') &laquo; Previous Trick
                | &nbsp;
                a.btn.btn-lg.btn-primary(href='07-find-ways-of-learning-that-work-for-you.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
                p
                  | Tips and tricks to help your organisation on its corporate learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
