doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous curiosity, learning environment, learning preferences, learning approaches, learning styles, personal learning, IT industry, old dog new tricks')
    meta(name='description', content="Identifying your preferences for learning can make a huge difference to the effectiveness with which you learn.")
    title Find Ways Of Learning That Work For You
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #07 Find Ways Of Learning That Work For You
              hr.featurette-divider

              h2 Ways Of Learning

              p
                | There are many ways of learning. The following list is not exhaustive:
                ul
                  li Classroom training.
                  li Coaching.
                  li Community events.
                  li Hands-on demonstration.
                  li Listening to podcasts.
                  li On-line training (eLearning / CBT).
                  li Presentations.
                  li Question and answer sessions.
                  li Reading articles, blogs, books etc.
                  li Role playing.
                  li Shadowing.
                  li Study squads.
                  li Trial and error.
                  li Watching videos.

              p
                | Each of us benefits from different ways of learning under different circumstances
                | but will typically have preferred approaches. Some may prefer to learn alone whilst others
                | may prefer to learn as part of a group.

              p
                | I personally find learning hands-on by trial and error difficult. If I follow a video
                | of someone walking through a hands-on example and then try it myself I find it much easier
                | to learn.

              h2 Learning Preferences

              p
                | Identifying your preferences for learning can make a huge difference to the effectiveness
                | with which you learn. It is therefore important to take time to identify the ways of learning
                | that work best for you.

              p
                | Your attitude, habits and environment also influence the effectiveness of your learning.

              h3 Attitude

              p
                | Your learning is affected by your beliefs and your mindset. It's important that you approach
                | learning with a positive, "can do" attitude. 
                a(href="https://www.skillsyouneed.com/ps/positive-thinking.html", title="Positive Thinking", target="_blank") Positive thinking
                |  and the right 
                a(href="https://www.skillsyouneed.com/ps/mindsets.html", title="Mindset", target="_blank") mindset
                |  will help you get off to a good start.

              p
                | Don't be anxious about the size of the potential learning curve ahead of you. Recognise
                | that the start of the learning journey is the point at which we know the least about our chosen subject
                | and when we are least skilled.
                | However, over time, we will gain skills, knowledge and experience as we engage in continued learning activities.

              h3 Habits

              p
                | We all have habitual behaviours, some good and some bad. If you are fairly disciplined about 
                | the way you work then you will likely find it easier to embrace learning activities as part of your
                | routine way of working. If you are unstructured in the way you work, you may find it a challenge
                | to commit to regular learning.
              
              p
                | Regardless of your work approach, make learning one of your regular habits.
                | Varying your approach to learning may also make things more interesting.

              h3 Environment

              p
                | Your environment can very much influence the effectiveness of your learning.

              p
                | Some people prefer bright lights and background music. They may be able to work in places
                | where there is a lot going on such as a café for example. They may also prefer to move around
                | when working and work on several things at once.
              
              p
                | Some people may be easily distracted by noise or lights. They may prefer to work in a quiet
                | room with lower light levels and a cool temperature.
              
              p
                | It's crucial to understand your environmental preferences and the
                | circumstances under which you work best for particular types of work.

              h2 Breadth And Depth Learning

              p
                | Depending on the nature of your work, you may need to focus on gaining both breadth and depth
                | from your learning activities. This is a good idea if you want to stay ahead of your customers.

              p
                | At Capgemini we like people to be “T-shaped” in terms of their knowledge and skills i.e.
                | to have both breadth and depth: breadth in many things and depth in a few. We encourage
                | people to have their own areas of interest and to know what they want to be “famous” for.

              h3 Breadth of Knowledge

              p
                | To gain a breadth in many things can often take as much effort as gaining deep knowledge in
                | a few things although the way you go about it can be very different. 

              p
                | Gaining a shallow but broad knowledge on a large number of topics requires an on-going commitment
                | to sporadic curiosity and learning. Call it continuous curiosity! To pursue this requires a disciplined
                | approach to ensure that you are not overcome by distractions but are able to perform short bursts of
                | research followed by some drill-down into more detail occasionally when necessary. You can also
                | look out for local events such as technical communities etc. and just tag along to learn something
                | new, ask questions and build your contact network.

              p
                | A learning diary, Wikipedia and your favourite search engine can help you. Each time your hear about
                | something new that you want to look into, itemise it in your learning diary. When you get a minute,
                | do a quick search to get some initial substance about the item. To drill-down deeper, identify an
                | article to read or a short video to watch. Repeat this short process forever. 😊

              h3 Depth of Knowledge

              p
                | Gaining deep subject knowledge is a long term commitment (a marathon) requiring longer stints of time compared
                | to the short bursts of sporadic research (sprints) used to satisfy your continuous curiosity.

              p
                | Deep knowledge requires a hunger (usually fuelled by a passionate interest) that goes beyond the theory
                | and often into hands-on practice. It may be supported by lots of reading, watching videos, on-line courses
                | (e.g. Pluralisght or Udemy) and attending training courses, conferences or meetup events. 

              p
                | Learning by doing is a powerful way to learn and when done on a regular basis becomes very effective.

              include ../../includes/page_like_button.pug
              include ../../includes/page_trick_sign_off.pug

              p
                a.btn.btn-lg.btn-primary(href='06-learn-to-manage-your-time-well.html', role='button') &laquo; Previous Trick
                | &nbsp;
                a.btn.btn-lg.btn-primary(href='08-join-a-community.html', role='button') Next Trick »

          .col-md-3.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar
                // <rightsidebar>
                h3 See Also
                
                h4
                  a(href="../corporate-new-trick-list.html", title="New Tricks For Corporate Learning") New Tricks For Corporate Learning
                p
                  | Tips and tricks to help your organisation on its corporate learning journey.  

                h4 
                  a(href="../../blog/prologue.html", title="Prologue") Prologue
                p
                  | About me, who I work for and how this blog came about.  

                h4 
                  a(href="../../blog/the-continuous-learning-dilemma.html", title="The Continuous Learning Dilemma") The Continuous Learning Dilemma
                p
                  | The biggest problem facing the IT industry today, namely continuous learning.  

                h4 
                  a(href="../../blog/rising-to-the-challenge-of-continuous-learning.html", title="Rising To The Challenge Of Continuous Learning") Rising To The Challenge Of Continuous Learning
                p
                  | Formulating the approach to rise up and attack the continuous learning dilemma.
                  | Introduction to the continuous learning spectrum.
                // </rightsidebar>
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
