doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='continuous curiosity, learning environment, learning preferences, learning approaches, learning styles, personal learning, IT industry, old dog new tricks')
    meta(name='description', content="xxx.")
    title xxx
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/site.css', rel='stylesheet')
    //Google analytics
    include ../../includes/google-analytics.pug
  body()
    include ../../includes/page_menu.pug

    h2.text-center
      a(href="../personal-new-trick-list.html", title="New Tricks For Personal Learning") New Tricks For Personal Learning
    
    include ../../includes/page_header.pug
    main
      //
        Main content
        ==================================================
      .container
        .row
          // Main content block
          .col-md-9
            article
              h1 #xx xxx
              hr.featurette-divider

              h2 xxx

              p
                | xxx

              include ../../includes/page_like_button.pug
              include ../../includes/page_trick_sign_off.pug

              p
                a.btn.btn-lg.btn-primary(href='xxx.html', role='button') &laquo; Previous Trick

          .col-md-3.hidden-print
            include ../../includes/page_blog_sidebar.pug
        // /row
      // /container
    include ../../includes/page_footer.pug
    include ../../includes/page_like_script.pug
    +PAGE_LIKE_INIT("page")
